:root {
  --black: #08020d;
  --gray: #e0e0e0;
  --dark-gray: #cacaca;
  --dark: #3c3b3d;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --red: #95390c;
  --white: #fff;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-weight: 600;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}
html {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: var(--black);
}

h1,
h2,
.h1,
.h2 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 60px;
  line-height: 1.5;
}
@media (max-width: 415px) {
  h1,
.h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2,
.h2 {
  font-size: 38px;
  line-height: 1.5;
}
@media (max-width: 415px) {
  h2,
.h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.color-white {
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.w-100 {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.align-items-center {
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-justify-content-between {
  justify-content: space-between;
}
.flex-justify-content-center {
  justify-content: center;
}
.flex-basis-100 {
  flex-basis: 100%;
}

.m-0 {
  margin: 0;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.my-65 {
  margin-top: 65px;
  margin-bottom: 65px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-18 {
  margin-top: 16px;
}
.mt-19 {
  margin-top: 19px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-22 {
  margin-top: 22px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-38 {
  margin-top: 38px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-43 {
  margin-top: 43px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-180 {
  margin-top: 180px;
}
.mt-200 {
  margin-top: 200px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-91 {
  margin-right: 91px;
}
.mr-144 {
  margin-right: 144px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-13 {
  margin-bottom: 13px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-65 {
  margin-bottom: 65px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-1_5rem {
  margin-bottom: 1.5rem;
}
.ml-auto {
  margin-left: auto;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}
.px-10 {
  padding-right: 10px;
  padding-left: 10px;
}
.px-1_5rem {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}
.py-2rem {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3rem {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pt-3rem {
  padding-top: 3rem;
}
.pt-20 {
  padding-top: 20px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-63 {
  padding-top: 63px;
}
.pt-100 {
  padding-top: 100px;
}
.pr-16 {
  padding-right: 16px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-48 {
  padding-bottom: 48px;
}
.pb-55 {
  padding-bottom: 55px;
}
.pb-73 {
  padding-bottom: 73px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pl-20 {
  padding-left: 20px;
}

.mt-0r {
  margin-top: 0;
}

.mb-0r {
  margin-bottom: 0;
}

.mr-0r {
  margin-right: 0;
}

.ml-0r {
  margin-left: 0;
}

.pt-0r {
  padding-top: 0;
}

.pb-0r {
  padding-bottom: 0;
}

.pr-0r {
  padding-right: 0;
}

.pl-0r {
  padding-left: 0;
}

.mt-1r {
  margin-top: 1rem;
}

.mb-1r {
  margin-bottom: 1rem;
}

.mr-1r {
  margin-right: 1rem;
}

.ml-1r {
  margin-left: 1rem;
}

.pt-1r {
  padding-top: 1rem;
}

.pb-1r {
  padding-bottom: 1rem;
}

.pr-1r {
  padding-right: 1rem;
}

.pl-1r {
  padding-left: 1rem;
}

.mt-2r {
  margin-top: 1.5rem;
}

.mb-2r {
  margin-bottom: 1.5rem;
}

.mr-2r {
  margin-right: 1.5rem;
}

.ml-2r {
  margin-left: 1.5rem;
}

.pt-2r {
  padding-top: 1.5rem;
}

.pb-2r {
  padding-bottom: 1.5rem;
}

.pr-2r {
  padding-right: 1.5rem;
}

.pl-2r {
  padding-left: 1.5rem;
}

.mt-3r {
  margin-top: 2rem;
}

.mb-3r {
  margin-bottom: 2rem;
}

.mr-3r {
  margin-right: 2rem;
}

.ml-3r {
  margin-left: 2rem;
}

.pt-3r {
  padding-top: 2rem;
}

.pb-3r {
  padding-bottom: 2rem;
}

.pr-3r {
  padding-right: 2rem;
}

.pl-3r {
  padding-left: 2rem;
}

.mt-4r {
  margin-top: 2.5rem;
}

.mb-4r {
  margin-bottom: 2.5rem;
}

.mr-4r {
  margin-right: 2.5rem;
}

.ml-4r {
  margin-left: 2.5rem;
}

.pt-4r {
  padding-top: 2.5rem;
}

.pb-4r {
  padding-bottom: 2.5rem;
}

.pr-4r {
  padding-right: 2.5rem;
}

.pl-4r {
  padding-left: 2.5rem;
}

.mt-5r {
  margin-top: 3rem;
}

.mb-5r {
  margin-bottom: 3rem;
}

.mr-5r {
  margin-right: 3rem;
}

.ml-5r {
  margin-left: 3rem;
}

.pt-5r {
  padding-top: 3rem;
}

.pb-5r {
  padding-bottom: 3rem;
}

.pr-5r {
  padding-right: 3rem;
}

.pl-5r {
  padding-left: 3rem;
}

.mt-6r {
  margin-top: 3.5rem;
}

.mb-6r {
  margin-bottom: 3.5rem;
}

.mr-6r {
  margin-right: 3.5rem;
}

.ml-6r {
  margin-left: 3.5rem;
}

.pt-6r {
  padding-top: 3.5rem;
}

.pb-6r {
  padding-bottom: 3.5rem;
}

.pr-6r {
  padding-right: 3.5rem;
}

.pl-6r {
  padding-left: 3.5rem;
}

.mt-7r {
  margin-top: 4rem;
}

.mb-7r {
  margin-bottom: 4rem;
}

.mr-7r {
  margin-right: 4rem;
}

.ml-7r {
  margin-left: 4rem;
}

.pt-7r {
  padding-top: 4rem;
}

.pb-7r {
  padding-bottom: 4rem;
}

.pr-7r {
  padding-right: 4rem;
}

.pl-7r {
  padding-left: 4rem;
}

.mt-8r {
  margin-top: 4.5rem;
}

.mb-8r {
  margin-bottom: 4.5rem;
}

.mr-8r {
  margin-right: 4.5rem;
}

.ml-8r {
  margin-left: 4.5rem;
}

.pt-8r {
  padding-top: 4.5rem;
}

.pb-8r {
  padding-bottom: 4.5rem;
}

.pr-8r {
  padding-right: 4.5rem;
}

.pl-8r {
  padding-left: 4.5rem;
}

.mt-9r {
  margin-top: 5rem;
}

.mb-9r {
  margin-bottom: 5rem;
}

.mr-9r {
  margin-right: 5rem;
}

.ml-9r {
  margin-left: 5rem;
}

.pt-9r {
  padding-top: 5rem;
}

.pb-9r {
  padding-bottom: 5rem;
}

.pr-9r {
  padding-right: 5rem;
}

.pl-9r {
  padding-left: 5rem;
}

.mt-10r {
  margin-top: 5.5rem;
}

.mb-10r {
  margin-bottom: 5.5rem;
}

.mr-10r {
  margin-right: 5.5rem;
}

.ml-10r {
  margin-left: 5.5rem;
}

.pt-10r {
  padding-top: 5.5rem;
}

.pb-10r {
  padding-bottom: 5.5rem;
}

.pr-10r {
  padding-right: 5.5rem;
}

.pl-10r {
  padding-left: 5.5rem;
}

.mt-11r {
  margin-top: 6rem;
}

.mb-11r {
  margin-bottom: 6rem;
}

.mr-11r {
  margin-right: 6rem;
}

.ml-11r {
  margin-left: 6rem;
}

.pt-11r {
  padding-top: 6rem;
}

.pb-11r {
  padding-bottom: 6rem;
}

.pr-11r {
  padding-right: 6rem;
}

.pl-11r {
  padding-left: 6rem;
}

.mt-12r {
  margin-top: 6.5rem;
}

.mb-12r {
  margin-bottom: 6.5rem;
}

.mr-12r {
  margin-right: 6.5rem;
}

.ml-12r {
  margin-left: 6.5rem;
}

.pt-12r {
  padding-top: 6.5rem;
}

.pb-12r {
  padding-bottom: 6.5rem;
}

.pr-12r {
  padding-right: 6.5rem;
}

.pl-12r {
  padding-left: 6.5rem;
}

.mt-13r {
  margin-top: 7rem;
}

.mb-13r {
  margin-bottom: 7rem;
}

.mr-13r {
  margin-right: 7rem;
}

.ml-13r {
  margin-left: 7rem;
}

.pt-13r {
  padding-top: 7rem;
}

.pb-13r {
  padding-bottom: 7rem;
}

.pr-13r {
  padding-right: 7rem;
}

.pl-13r {
  padding-left: 7rem;
}

.mt-14r {
  margin-top: 7.5rem;
}

.mb-14r {
  margin-bottom: 7.5rem;
}

.mr-14r {
  margin-right: 7.5rem;
}

.ml-14r {
  margin-left: 7.5rem;
}

.pt-14r {
  padding-top: 7.5rem;
}

.pb-14r {
  padding-bottom: 7.5rem;
}

.pr-14r {
  padding-right: 7.5rem;
}

.pl-14r {
  padding-left: 7.5rem;
}

.mt-15r {
  margin-top: 8rem;
}

.mb-15r {
  margin-bottom: 8rem;
}

.mr-15r {
  margin-right: 8rem;
}

.ml-15r {
  margin-left: 8rem;
}

.pt-15r {
  padding-top: 8rem;
}

.pb-15r {
  padding-bottom: 8rem;
}

.pr-15r {
  padding-right: 8rem;
}

.pl-15r {
  padding-left: 8rem;
}

.mt-16r {
  margin-top: 8.5rem;
}

.mb-16r {
  margin-bottom: 8.5rem;
}

.mr-16r {
  margin-right: 8.5rem;
}

.ml-16r {
  margin-left: 8.5rem;
}

.pt-16r {
  padding-top: 8.5rem;
}

.pb-16r {
  padding-bottom: 8.5rem;
}

.pr-16r {
  padding-right: 8.5rem;
}

.pl-16r {
  padding-left: 8.5rem;
}

.mt-17r {
  margin-top: 9rem;
}

.mb-17r {
  margin-bottom: 9rem;
}

.mr-17r {
  margin-right: 9rem;
}

.ml-17r {
  margin-left: 9rem;
}

.pt-17r {
  padding-top: 9rem;
}

.pb-17r {
  padding-bottom: 9rem;
}

.pr-17r {
  padding-right: 9rem;
}

.pl-17r {
  padding-left: 9rem;
}

.mt-18r {
  margin-top: 9.5rem;
}

.mb-18r {
  margin-bottom: 9.5rem;
}

.mr-18r {
  margin-right: 9.5rem;
}

.ml-18r {
  margin-left: 9.5rem;
}

.pt-18r {
  padding-top: 9.5rem;
}

.pb-18r {
  padding-bottom: 9.5rem;
}

.pr-18r {
  padding-right: 9.5rem;
}

.pl-18r {
  padding-left: 9.5rem;
}

.mt-19r {
  margin-top: 10rem;
}

.mb-19r {
  margin-bottom: 10rem;
}

.mr-19r {
  margin-right: 10rem;
}

.ml-19r {
  margin-left: 10rem;
}

.pt-19r {
  padding-top: 10rem;
}

.pb-19r {
  padding-bottom: 10rem;
}

.pr-19r {
  padding-right: 10rem;
}

.pl-19r {
  padding-left: 10rem;
}

.mt-20r {
  margin-top: 10.5rem;
}

.mb-20r {
  margin-bottom: 10.5rem;
}

.mr-20r {
  margin-right: 10.5rem;
}

.ml-20r {
  margin-left: 10.5rem;
}

.pt-20r {
  padding-top: 10.5rem;
}

.pb-20r {
  padding-bottom: 10.5rem;
}

.pr-20r {
  padding-right: 10.5rem;
}

.pl-20r {
  padding-left: 10.5rem;
}

.mt-21r {
  margin-top: 11rem;
}

.mb-21r {
  margin-bottom: 11rem;
}

.mr-21r {
  margin-right: 11rem;
}

.ml-21r {
  margin-left: 11rem;
}

.pt-21r {
  padding-top: 11rem;
}

.pb-21r {
  padding-bottom: 11rem;
}

.pr-21r {
  padding-right: 11rem;
}

.pl-21r {
  padding-left: 11rem;
}

.mt-22r {
  margin-top: 11.5rem;
}

.mb-22r {
  margin-bottom: 11.5rem;
}

.mr-22r {
  margin-right: 11.5rem;
}

.ml-22r {
  margin-left: 11.5rem;
}

.pt-22r {
  padding-top: 11.5rem;
}

.pb-22r {
  padding-bottom: 11.5rem;
}

.pr-22r {
  padding-right: 11.5rem;
}

.pl-22r {
  padding-left: 11.5rem;
}

.mt-23r {
  margin-top: 12rem;
}

.mb-23r {
  margin-bottom: 12rem;
}

.mr-23r {
  margin-right: 12rem;
}

.ml-23r {
  margin-left: 12rem;
}

.pt-23r {
  padding-top: 12rem;
}

.pb-23r {
  padding-bottom: 12rem;
}

.pr-23r {
  padding-right: 12rem;
}

.pl-23r {
  padding-left: 12rem;
}

.mt-25r {
  margin-top: 12.5rem;
}

.mb-25r {
  margin-bottom: 12.5rem;
}

.mr-25r {
  margin-right: 12.5rem;
}

.ml-25r {
  margin-left: 12.5rem;
}

.pt-25r {
  padding-top: 12.5rem;
}

.pb-25r {
  padding-bottom: 12.5rem;
}

.pr-25r {
  padding-right: 12.5rem;
}

.pl-25r {
  padding-left: 12.5rem;
}

.mt-autor {
  margin-top: auto;
}

.mb-autor {
  margin-bottom: auto;
}

.mr-autor {
  margin-right: auto;
}

.ml-autor {
  margin-left: auto;
}

.pt-autor {
  padding-top: auto;
}

.pb-autor {
  padding-bottom: auto;
}

.pr-autor {
  padding-right: auto;
}

.pl-autor {
  padding-left: auto;
}

@media (max-width: 415px) {
  .mt-xs-0r {
    margin-top: 0;
  }

  .mb-xs-0r {
    margin-bottom: 0;
  }

  .mr-xs-0r {
    margin-right: 0;
  }

  .ml-xs-0r {
    margin-left: 0;
  }
}
@media (max-width: 415px) {
  .pt-xs-0r {
    padding-top: 0;
  }

  .pb-xs-0r {
    padding-bottom: 0;
  }

  .pr-xs-0r {
    padding-right: 0;
  }

  .pl-xs-0r {
    padding-left: 0;
  }
}
@media (max-width: 415px) {
  .mt-xs-1r {
    margin-top: 1rem;
  }

  .mb-xs-1r {
    margin-bottom: 1rem;
  }

  .mr-xs-1r {
    margin-right: 1rem;
  }

  .ml-xs-1r {
    margin-left: 1rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-1r {
    padding-top: 1rem;
  }

  .pb-xs-1r {
    padding-bottom: 1rem;
  }

  .pr-xs-1r {
    padding-right: 1rem;
  }

  .pl-xs-1r {
    padding-left: 1rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-2r {
    margin-top: 1.5rem;
  }

  .mb-xs-2r {
    margin-bottom: 1.5rem;
  }

  .mr-xs-2r {
    margin-right: 1.5rem;
  }

  .ml-xs-2r {
    margin-left: 1.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-2r {
    padding-top: 1.5rem;
  }

  .pb-xs-2r {
    padding-bottom: 1.5rem;
  }

  .pr-xs-2r {
    padding-right: 1.5rem;
  }

  .pl-xs-2r {
    padding-left: 1.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-3r {
    margin-top: 2rem;
  }

  .mb-xs-3r {
    margin-bottom: 2rem;
  }

  .mr-xs-3r {
    margin-right: 2rem;
  }

  .ml-xs-3r {
    margin-left: 2rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-3r {
    padding-top: 2rem;
  }

  .pb-xs-3r {
    padding-bottom: 2rem;
  }

  .pr-xs-3r {
    padding-right: 2rem;
  }

  .pl-xs-3r {
    padding-left: 2rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-4r {
    margin-top: 2.5rem;
  }

  .mb-xs-4r {
    margin-bottom: 2.5rem;
  }

  .mr-xs-4r {
    margin-right: 2.5rem;
  }

  .ml-xs-4r {
    margin-left: 2.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-4r {
    padding-top: 2.5rem;
  }

  .pb-xs-4r {
    padding-bottom: 2.5rem;
  }

  .pr-xs-4r {
    padding-right: 2.5rem;
  }

  .pl-xs-4r {
    padding-left: 2.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-5r {
    margin-top: 3rem;
  }

  .mb-xs-5r {
    margin-bottom: 3rem;
  }

  .mr-xs-5r {
    margin-right: 3rem;
  }

  .ml-xs-5r {
    margin-left: 3rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-5r {
    padding-top: 3rem;
  }

  .pb-xs-5r {
    padding-bottom: 3rem;
  }

  .pr-xs-5r {
    padding-right: 3rem;
  }

  .pl-xs-5r {
    padding-left: 3rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-6r {
    margin-top: 3.5rem;
  }

  .mb-xs-6r {
    margin-bottom: 3.5rem;
  }

  .mr-xs-6r {
    margin-right: 3.5rem;
  }

  .ml-xs-6r {
    margin-left: 3.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-6r {
    padding-top: 3.5rem;
  }

  .pb-xs-6r {
    padding-bottom: 3.5rem;
  }

  .pr-xs-6r {
    padding-right: 3.5rem;
  }

  .pl-xs-6r {
    padding-left: 3.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-7r {
    margin-top: 4rem;
  }

  .mb-xs-7r {
    margin-bottom: 4rem;
  }

  .mr-xs-7r {
    margin-right: 4rem;
  }

  .ml-xs-7r {
    margin-left: 4rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-7r {
    padding-top: 4rem;
  }

  .pb-xs-7r {
    padding-bottom: 4rem;
  }

  .pr-xs-7r {
    padding-right: 4rem;
  }

  .pl-xs-7r {
    padding-left: 4rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-8r {
    margin-top: 4.5rem;
  }

  .mb-xs-8r {
    margin-bottom: 4.5rem;
  }

  .mr-xs-8r {
    margin-right: 4.5rem;
  }

  .ml-xs-8r {
    margin-left: 4.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-8r {
    padding-top: 4.5rem;
  }

  .pb-xs-8r {
    padding-bottom: 4.5rem;
  }

  .pr-xs-8r {
    padding-right: 4.5rem;
  }

  .pl-xs-8r {
    padding-left: 4.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-9r {
    margin-top: 5rem;
  }

  .mb-xs-9r {
    margin-bottom: 5rem;
  }

  .mr-xs-9r {
    margin-right: 5rem;
  }

  .ml-xs-9r {
    margin-left: 5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-9r {
    padding-top: 5rem;
  }

  .pb-xs-9r {
    padding-bottom: 5rem;
  }

  .pr-xs-9r {
    padding-right: 5rem;
  }

  .pl-xs-9r {
    padding-left: 5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-10r {
    margin-top: 5.5rem;
  }

  .mb-xs-10r {
    margin-bottom: 5.5rem;
  }

  .mr-xs-10r {
    margin-right: 5.5rem;
  }

  .ml-xs-10r {
    margin-left: 5.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-10r {
    padding-top: 5.5rem;
  }

  .pb-xs-10r {
    padding-bottom: 5.5rem;
  }

  .pr-xs-10r {
    padding-right: 5.5rem;
  }

  .pl-xs-10r {
    padding-left: 5.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-11r {
    margin-top: 6rem;
  }

  .mb-xs-11r {
    margin-bottom: 6rem;
  }

  .mr-xs-11r {
    margin-right: 6rem;
  }

  .ml-xs-11r {
    margin-left: 6rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-11r {
    padding-top: 6rem;
  }

  .pb-xs-11r {
    padding-bottom: 6rem;
  }

  .pr-xs-11r {
    padding-right: 6rem;
  }

  .pl-xs-11r {
    padding-left: 6rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-12r {
    margin-top: 6.5rem;
  }

  .mb-xs-12r {
    margin-bottom: 6.5rem;
  }

  .mr-xs-12r {
    margin-right: 6.5rem;
  }

  .ml-xs-12r {
    margin-left: 6.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-12r {
    padding-top: 6.5rem;
  }

  .pb-xs-12r {
    padding-bottom: 6.5rem;
  }

  .pr-xs-12r {
    padding-right: 6.5rem;
  }

  .pl-xs-12r {
    padding-left: 6.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-13r {
    margin-top: 7rem;
  }

  .mb-xs-13r {
    margin-bottom: 7rem;
  }

  .mr-xs-13r {
    margin-right: 7rem;
  }

  .ml-xs-13r {
    margin-left: 7rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-13r {
    padding-top: 7rem;
  }

  .pb-xs-13r {
    padding-bottom: 7rem;
  }

  .pr-xs-13r {
    padding-right: 7rem;
  }

  .pl-xs-13r {
    padding-left: 7rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-14r {
    margin-top: 7.5rem;
  }

  .mb-xs-14r {
    margin-bottom: 7.5rem;
  }

  .mr-xs-14r {
    margin-right: 7.5rem;
  }

  .ml-xs-14r {
    margin-left: 7.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-14r {
    padding-top: 7.5rem;
  }

  .pb-xs-14r {
    padding-bottom: 7.5rem;
  }

  .pr-xs-14r {
    padding-right: 7.5rem;
  }

  .pl-xs-14r {
    padding-left: 7.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-15r {
    margin-top: 8rem;
  }

  .mb-xs-15r {
    margin-bottom: 8rem;
  }

  .mr-xs-15r {
    margin-right: 8rem;
  }

  .ml-xs-15r {
    margin-left: 8rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-15r {
    padding-top: 8rem;
  }

  .pb-xs-15r {
    padding-bottom: 8rem;
  }

  .pr-xs-15r {
    padding-right: 8rem;
  }

  .pl-xs-15r {
    padding-left: 8rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-16r {
    margin-top: 8.5rem;
  }

  .mb-xs-16r {
    margin-bottom: 8.5rem;
  }

  .mr-xs-16r {
    margin-right: 8.5rem;
  }

  .ml-xs-16r {
    margin-left: 8.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-16r {
    padding-top: 8.5rem;
  }

  .pb-xs-16r {
    padding-bottom: 8.5rem;
  }

  .pr-xs-16r {
    padding-right: 8.5rem;
  }

  .pl-xs-16r {
    padding-left: 8.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-17r {
    margin-top: 9rem;
  }

  .mb-xs-17r {
    margin-bottom: 9rem;
  }

  .mr-xs-17r {
    margin-right: 9rem;
  }

  .ml-xs-17r {
    margin-left: 9rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-17r {
    padding-top: 9rem;
  }

  .pb-xs-17r {
    padding-bottom: 9rem;
  }

  .pr-xs-17r {
    padding-right: 9rem;
  }

  .pl-xs-17r {
    padding-left: 9rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-18r {
    margin-top: 9.5rem;
  }

  .mb-xs-18r {
    margin-bottom: 9.5rem;
  }

  .mr-xs-18r {
    margin-right: 9.5rem;
  }

  .ml-xs-18r {
    margin-left: 9.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-18r {
    padding-top: 9.5rem;
  }

  .pb-xs-18r {
    padding-bottom: 9.5rem;
  }

  .pr-xs-18r {
    padding-right: 9.5rem;
  }

  .pl-xs-18r {
    padding-left: 9.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-19r {
    margin-top: 10rem;
  }

  .mb-xs-19r {
    margin-bottom: 10rem;
  }

  .mr-xs-19r {
    margin-right: 10rem;
  }

  .ml-xs-19r {
    margin-left: 10rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-19r {
    padding-top: 10rem;
  }

  .pb-xs-19r {
    padding-bottom: 10rem;
  }

  .pr-xs-19r {
    padding-right: 10rem;
  }

  .pl-xs-19r {
    padding-left: 10rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-20r {
    margin-top: 10.5rem;
  }

  .mb-xs-20r {
    margin-bottom: 10.5rem;
  }

  .mr-xs-20r {
    margin-right: 10.5rem;
  }

  .ml-xs-20r {
    margin-left: 10.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-20r {
    padding-top: 10.5rem;
  }

  .pb-xs-20r {
    padding-bottom: 10.5rem;
  }

  .pr-xs-20r {
    padding-right: 10.5rem;
  }

  .pl-xs-20r {
    padding-left: 10.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-21r {
    margin-top: 11rem;
  }

  .mb-xs-21r {
    margin-bottom: 11rem;
  }

  .mr-xs-21r {
    margin-right: 11rem;
  }

  .ml-xs-21r {
    margin-left: 11rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-21r {
    padding-top: 11rem;
  }

  .pb-xs-21r {
    padding-bottom: 11rem;
  }

  .pr-xs-21r {
    padding-right: 11rem;
  }

  .pl-xs-21r {
    padding-left: 11rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-22r {
    margin-top: 11.5rem;
  }

  .mb-xs-22r {
    margin-bottom: 11.5rem;
  }

  .mr-xs-22r {
    margin-right: 11.5rem;
  }

  .ml-xs-22r {
    margin-left: 11.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-22r {
    padding-top: 11.5rem;
  }

  .pb-xs-22r {
    padding-bottom: 11.5rem;
  }

  .pr-xs-22r {
    padding-right: 11.5rem;
  }

  .pl-xs-22r {
    padding-left: 11.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-23r {
    margin-top: 12rem;
  }

  .mb-xs-23r {
    margin-bottom: 12rem;
  }

  .mr-xs-23r {
    margin-right: 12rem;
  }

  .ml-xs-23r {
    margin-left: 12rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-23r {
    padding-top: 12rem;
  }

  .pb-xs-23r {
    padding-bottom: 12rem;
  }

  .pr-xs-23r {
    padding-right: 12rem;
  }

  .pl-xs-23r {
    padding-left: 12rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-25r {
    margin-top: 12.5rem;
  }

  .mb-xs-25r {
    margin-bottom: 12.5rem;
  }

  .mr-xs-25r {
    margin-right: 12.5rem;
  }

  .ml-xs-25r {
    margin-left: 12.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-25r {
    padding-top: 12.5rem;
  }

  .pb-xs-25r {
    padding-bottom: 12.5rem;
  }

  .pr-xs-25r {
    padding-right: 12.5rem;
  }

  .pl-xs-25r {
    padding-left: 12.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-autor {
    margin-top: auto;
  }

  .mb-xs-autor {
    margin-bottom: auto;
  }

  .mr-xs-autor {
    margin-right: auto;
  }

  .ml-xs-autor {
    margin-left: auto;
  }
}
@media (max-width: 415px) {
  .pt-xs-autor {
    padding-top: auto;
  }

  .pb-xs-autor {
    padding-bottom: auto;
  }

  .pr-xs-autor {
    padding-right: auto;
  }

  .pl-xs-autor {
    padding-left: auto;
  }
}
.text-regular {
  font-weight: 400;
}
.text-bold {
  font-weight: bold;
}
.text-size-1 {
  font-size: 16px;
  line-height: 1.5;
}
.text-size-2 {
  font-size: 24px;
  line-height: 1.5;
}
.text-size-3 {
  font-size: 32px;
  line-height: 1.5;
}
.text-small {
  font-size: 12px;
  line-height: 1.5;
}
.text-10 {
  font-size: 10px;
}
.text-12_8 {
  font-size: 12.8px;
  line-height: 1.5;
}
.text-15 {
  font-size: 15px;
  line-height: 24px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-white {
  color: var(--white);
}
.text-gray {
  color: var(--gray);
}
.text-center {
  text-align: center;
}

.ff-arial {
  font-family: Arial, sans-serif;
}
.fs-13 {
  font-size: 13px;
}

.header {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 415px) {
  .header-container {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 415px) {
  .header-logo {
    margin-bottom: 17px;
  }
}
.header-logo-img {
  width: 24px;
}
@media (max-width: 415px) {
  .header-nav-list {
    flex-direction: column;
  }
}
.header-nav-item:not(:last-child) {
  margin-right: 24px;
}
.header-nav-link {
  color: var(--dark-gray);
}
.header-nav-active {
  color: var(--white);
  font-size: 11px;
}
@media (max-width: 415px) {
  .header-right {
    width: calc(100% - 20px);
    margin-top: 18px;
    margin-left: 0;
  }
}
.header-search {
  display: inline-block;
  width: 248px;
  border: 0;
  border-radius: 50px;
  background-color: var(--dark);
}
@media (max-width: 415px) {
  .header-search {
    width: 100%;
  }
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.btn-big {
  padding: 20px 30px;
}
.btn-group {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 415px) {
  .btn-group {
    display: block;
  }
}
.btn-icon {
  display: flex;
  align-items: center;
}
@media (max-width: 415px) {
  .btn-icon:not(:last-child) {
    margin-bottom: 24px;
  }
}
.btn-small {
  padding: 16px 30px;
  font-size: 12px;
}
.btn-w-200 {
  width: 200px;
}
.btn-round {
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
}
.btn-green {
  color: #fff;
  background-color: var(--green);
}
.btn-red {
  color: #fff;
  background-color: var(--red);
}
.btn-purple {
  color: #fff;
  background-color: var(--purple);
}
.btn-transparent {
  border: 1px solid;
  background-color: transparent;
}
.btn-transparent-white {
  border-color: #fff;
  color: #fff;
}
.btn-transparent-gray {
  border-color: #cacaca;
  color: #cacaca;
}

.icon {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.icon-btn {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: invert(1);
}
.icon-btn-play {
  background-image: url("../images/play-button.svg");
}
.icon-btn-heart {
  background-image: url("../images/heart.svg");
}
.icon-google-plus {
  width: 26px;
  height: 17px;
  background-image: url("../images/Google+.png");
}
.icon-facebook {
  width: 12px;
  height: 20px;
  background-image: url("../images/Facebook.png");
}
.icon-instagram {
  width: 19px;
  height: 20px;
  background-image: url("../images/Instagram.png");
}
.icon-twitter {
  width: 22px;
  height: 19px;
  background-image: url("../images/Twitter.png");
}

.page-description {
  background-color: var(--black);
  background-position: center;
  background-size: cover;
}
.page-description-home {
  background-image: url("../images/banner.png");
}
.page-description-morten_harket {
  background-image: url("../images/Morten Harket.png");
}

.hero-container {
  margin-top: 50px;
}
@media (max-width: 415px) {
  .hero-container {
    margin-top: 25px;
  }
}
@media (max-width: 415px) {
  .hero-container-home {
    margin-top: 50px;
  }
}
@media (max-width: 415px) {
  .hero-h1 {
    margin-top: 25px;
  }
}
@media (max-width: 415px) {
  .hero-lead {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.container-form {
  max-width: 570px;
}

.get-access-form {
  max-width: 570px;
  margin: 0 auto;
}

.get-access-fields {
  width: 100%;
}
@media (max-width: 415px) {
  .get-access-fields {
    gap: 1.5rem;
  }
}

.get-access-field {
  min-width: 270px;
  min-height: 50px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: transparent;
}
@media (max-width: 415px) {
  .get-access-field {
    width: 100%;
  }
}
.get-access-field::placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.page-pricing {
  background-color: var(--black);
}

.pricing-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 368px);
  justify-content: center;
  column-gap: 47px;
}
@media (max-width: 415px) {
  .pricing-items {
    grid-template-columns: repeat(auto-fit, 374px);
  }
}
.pricing-item {
  border-radius: 1rem;
}
.pricing-item-h3 {
  font-weight: 400;
}
@media (max-width: 415px) {
  .pricing-item-h3 {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
  }
}

.bg-free {
  background: url("../images/subscribe_1.png") no-repeat;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png") no-repeat;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png") no-repeat;
  background-size: cover;
}

.price-num {
  font-size: 64px;
  vertical-align: middle;
}

.price-currency {
  line-height: 1em;
}

.page-news {
  background-color: var(--black);
}

.news-author {
  color: var(--orange);
}
.news-description {
  max-width: 575px;
}
@media (max-width: 415px) {
  .news-description {
    margin-top: 40px;
  }
}
.news-image {
  max-width: 575px;
}
@media (max-width: 415px) {
  .news-text {
    margin-top: 15px;
  }
}
.news-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
@media (max-width: 415px) {
  .news-title {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }
}

.page-app {
  background-color: var(--black);
}

.app-description {
  max-width: 600px;
}
@media (max-width: 415px) {
  .app-description {
    order: 2;
    margin-right: 0;
  }
}

.app-image {
  max-width: 333px;
}
@media (max-width: 415px) {
  .app-image {
    margin-right: auto;
    margin-left: auto;
  }
}

.page-popular-track {
  background-color: var(--black);
}

.tracks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(374px, 551px));
  column-gap: 50px;
  row-gap: 25px;
}

.track-image {
  width: 55px;
  height: 55px;
}
.track-names {
  display: flex;
  flex-direction: column;
}
.track-title {
  line-height: 19.2px;
}

.page-discography {
  background-color: var(--black);
}

.discography-album-title {
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
.discography-image {
  width: 250px;
  height: 250px;
}
@media (max-width: 415px) {
  .discography-image {
    width: 137px;
    height: 137px;
  }
}
.discography-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 50px;
  row-gap: 25px;
}
@media (max-width: 415px) {
  .discography-items {
    grid-template-columns: repeat(auto-fit, 137px);
  }
}
.discography-item {
  position: relative;
}

.page-similar {
  background-color: var(--black);
}

@media (max-width: 415px) {
  .similar-fans {
    display: block;
  }
}
.similar-title {
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
@media (max-width: 415px) {
  .similar-title {
    display: block;
  }
}
.similar-image {
  display: block;
  width: 250px;
  height: 250px;
}
@media (max-width: 415px) {
  .similar-image {
    width: 137px;
    height: 137px;
  }
}
.similar-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 50px;
  row-gap: 25px;
}
@media (max-width: 415px) {
  .similar-items {
    grid-template-columns: repeat(auto-fit, 137px);
  }
}
.similar-item {
  position: relative;
}
.similar-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  background-color: var(--black);
}

.footer-line {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
}
.footer-link {
  color: var(--gray);
}
.footer-h2 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding-bottom: 40px;
  column-gap: 40px;
  row-gap: 2px;
}
@media (max-width: 415px) {
  .footer-top {
    padding-bottom: 72px;
  }
}
.footer-top-icon-grid {
  display: flex;
  gap: 24px;
}
.footer-bottom {
  padding: 40px 0 48px 0;
}
@media (max-width: 415px) {
  .footer-bottom {
    padding-bottom: 30px;
  }
}
@media (max-width: 415px) {
  .footer-nav-list {
    flex-direction: column;
  }
}
.footer-nav-link {
  margin-right: 16px;
  color: var(--gray);
}
@media (max-width: 415px) {
  .footer-nav-link {
    display: block;
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
