:root {
  --black: #08020d;
  --gray: #e0e0e0;
  --dark-gray: #cacaca;
  --dark: #3c3b3d;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --red: #95390c;
  --white: #fff;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-weight: 600;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}
html {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  color: var(--dark-gray);
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: var(--black);
}

h1,
h2,
.h1,
.h2 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

h1,
.h1 {
  font-size: 60px;
  line-height: 1.5;
}
@media (max-width: 415px) {
  h1,
.h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2,
.h2 {
  font-size: 38px;
  line-height: 1.5;
}
@media (max-width: 415px) {
  h2,
.h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.color-white {
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.w-100 {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.align-items-center {
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-justify-content-between {
  justify-content: space-between;
}
.flex-justify-content-center {
  justify-content: center;
}
.flex-basis-100 {
  flex-basis: 100%;
}

.mt-0-rem {
  margin-top: 0;
}

.mb-0-rem {
  margin-bottom: 0;
}

.mr-0-rem {
  margin-right: 0;
}

.ml-0-rem {
  margin-left: 0;
}

.pt-0-rem {
  padding-top: 0;
}

.pb-0-rem {
  padding-bottom: 0;
}

.pr-0-rem {
  padding-right: 0;
}

.pl-0-rem {
  padding-left: 0;
}

.mt-1-rem {
  margin-top: 1rem;
}

.mb-1-rem {
  margin-bottom: 1rem;
}

.mr-1-rem {
  margin-right: 1rem;
}

.ml-1-rem {
  margin-left: 1rem;
}

.pt-1-rem {
  padding-top: 1rem;
}

.pb-1-rem {
  padding-bottom: 1rem;
}

.pr-1-rem {
  padding-right: 1rem;
}

.pl-1-rem {
  padding-left: 1rem;
}

.mt-2-rem {
  margin-top: 1.25rem;
}

.mb-2-rem {
  margin-bottom: 1.25rem;
}

.mr-2-rem {
  margin-right: 1.25rem;
}

.ml-2-rem {
  margin-left: 1.25rem;
}

.pt-2-rem {
  padding-top: 1.25rem;
}

.pb-2-rem {
  padding-bottom: 1.25rem;
}

.pr-2-rem {
  padding-right: 1.25rem;
}

.pl-2-rem {
  padding-left: 1.25rem;
}

.mt-3-rem {
  margin-top: 1.5rem;
}

.mb-3-rem {
  margin-bottom: 1.5rem;
}

.mr-3-rem {
  margin-right: 1.5rem;
}

.ml-3-rem {
  margin-left: 1.5rem;
}

.pt-3-rem {
  padding-top: 1.5rem;
}

.pb-3-rem {
  padding-bottom: 1.5rem;
}

.pr-3-rem {
  padding-right: 1.5rem;
}

.pl-3-rem {
  padding-left: 1.5rem;
}

.mt-4-rem {
  margin-top: 1.75rem;
}

.mb-4-rem {
  margin-bottom: 1.75rem;
}

.mr-4-rem {
  margin-right: 1.75rem;
}

.ml-4-rem {
  margin-left: 1.75rem;
}

.pt-4-rem {
  padding-top: 1.75rem;
}

.pb-4-rem {
  padding-bottom: 1.75rem;
}

.pr-4-rem {
  padding-right: 1.75rem;
}

.pl-4-rem {
  padding-left: 1.75rem;
}

.mt-5-rem {
  margin-top: 2rem;
}

.mb-5-rem {
  margin-bottom: 2rem;
}

.mr-5-rem {
  margin-right: 2rem;
}

.ml-5-rem {
  margin-left: 2rem;
}

.pt-5-rem {
  padding-top: 2rem;
}

.pb-5-rem {
  padding-bottom: 2rem;
}

.pr-5-rem {
  padding-right: 2rem;
}

.pl-5-rem {
  padding-left: 2rem;
}

.mt-6-rem {
  margin-top: 2.25rem;
}

.mb-6-rem {
  margin-bottom: 2.25rem;
}

.mr-6-rem {
  margin-right: 2.25rem;
}

.ml-6-rem {
  margin-left: 2.25rem;
}

.pt-6-rem {
  padding-top: 2.25rem;
}

.pb-6-rem {
  padding-bottom: 2.25rem;
}

.pr-6-rem {
  padding-right: 2.25rem;
}

.pl-6-rem {
  padding-left: 2.25rem;
}

.mt-7-rem {
  margin-top: 2.5rem;
}

.mb-7-rem {
  margin-bottom: 2.5rem;
}

.mr-7-rem {
  margin-right: 2.5rem;
}

.ml-7-rem {
  margin-left: 2.5rem;
}

.pt-7-rem {
  padding-top: 2.5rem;
}

.pb-7-rem {
  padding-bottom: 2.5rem;
}

.pr-7-rem {
  padding-right: 2.5rem;
}

.pl-7-rem {
  padding-left: 2.5rem;
}

.mt-8-rem {
  margin-top: 2.75rem;
}

.mb-8-rem {
  margin-bottom: 2.75rem;
}

.mr-8-rem {
  margin-right: 2.75rem;
}

.ml-8-rem {
  margin-left: 2.75rem;
}

.pt-8-rem {
  padding-top: 2.75rem;
}

.pb-8-rem {
  padding-bottom: 2.75rem;
}

.pr-8-rem {
  padding-right: 2.75rem;
}

.pl-8-rem {
  padding-left: 2.75rem;
}

.mt-9-rem {
  margin-top: 3rem;
}

.mb-9-rem {
  margin-bottom: 3rem;
}

.mr-9-rem {
  margin-right: 3rem;
}

.ml-9-rem {
  margin-left: 3rem;
}

.pt-9-rem {
  padding-top: 3rem;
}

.pb-9-rem {
  padding-bottom: 3rem;
}

.pr-9-rem {
  padding-right: 3rem;
}

.pl-9-rem {
  padding-left: 3rem;
}

.mt-10-rem {
  margin-top: 3.25rem;
}

.mb-10-rem {
  margin-bottom: 3.25rem;
}

.mr-10-rem {
  margin-right: 3.25rem;
}

.ml-10-rem {
  margin-left: 3.25rem;
}

.pt-10-rem {
  padding-top: 3.25rem;
}

.pb-10-rem {
  padding-bottom: 3.25rem;
}

.pr-10-rem {
  padding-right: 3.25rem;
}

.pl-10-rem {
  padding-left: 3.25rem;
}

.mt-11-rem {
  margin-top: 3.5rem;
}

.mb-11-rem {
  margin-bottom: 3.5rem;
}

.mr-11-rem {
  margin-right: 3.5rem;
}

.ml-11-rem {
  margin-left: 3.5rem;
}

.pt-11-rem {
  padding-top: 3.5rem;
}

.pb-11-rem {
  padding-bottom: 3.5rem;
}

.pr-11-rem {
  padding-right: 3.5rem;
}

.pl-11-rem {
  padding-left: 3.5rem;
}

.mt-12-rem {
  margin-top: 3.75rem;
}

.mb-12-rem {
  margin-bottom: 3.75rem;
}

.mr-12-rem {
  margin-right: 3.75rem;
}

.ml-12-rem {
  margin-left: 3.75rem;
}

.pt-12-rem {
  padding-top: 3.75rem;
}

.pb-12-rem {
  padding-bottom: 3.75rem;
}

.pr-12-rem {
  padding-right: 3.75rem;
}

.pl-12-rem {
  padding-left: 3.75rem;
}

.mt-13-rem {
  margin-top: 4rem;
}

.mb-13-rem {
  margin-bottom: 4rem;
}

.mr-13-rem {
  margin-right: 4rem;
}

.ml-13-rem {
  margin-left: 4rem;
}

.pt-13-rem {
  padding-top: 4rem;
}

.pb-13-rem {
  padding-bottom: 4rem;
}

.pr-13-rem {
  padding-right: 4rem;
}

.pl-13-rem {
  padding-left: 4rem;
}

.mt-14-rem {
  margin-top: 4.25rem;
}

.mb-14-rem {
  margin-bottom: 4.25rem;
}

.mr-14-rem {
  margin-right: 4.25rem;
}

.ml-14-rem {
  margin-left: 4.25rem;
}

.pt-14-rem {
  padding-top: 4.25rem;
}

.pb-14-rem {
  padding-bottom: 4.25rem;
}

.pr-14-rem {
  padding-right: 4.25rem;
}

.pl-14-rem {
  padding-left: 4.25rem;
}

.mt-15-rem {
  margin-top: 4.5rem;
}

.mb-15-rem {
  margin-bottom: 4.5rem;
}

.mr-15-rem {
  margin-right: 4.5rem;
}

.ml-15-rem {
  margin-left: 4.5rem;
}

.pt-15-rem {
  padding-top: 4.5rem;
}

.pb-15-rem {
  padding-bottom: 4.5rem;
}

.pr-15-rem {
  padding-right: 4.5rem;
}

.pl-15-rem {
  padding-left: 4.5rem;
}

.mt-16-rem {
  margin-top: 4.75rem;
}

.mb-16-rem {
  margin-bottom: 4.75rem;
}

.mr-16-rem {
  margin-right: 4.75rem;
}

.ml-16-rem {
  margin-left: 4.75rem;
}

.pt-16-rem {
  padding-top: 4.75rem;
}

.pb-16-rem {
  padding-bottom: 4.75rem;
}

.pr-16-rem {
  padding-right: 4.75rem;
}

.pl-16-rem {
  padding-left: 4.75rem;
}

.mt-17-rem {
  margin-top: 5rem;
}

.mb-17-rem {
  margin-bottom: 5rem;
}

.mr-17-rem {
  margin-right: 5rem;
}

.ml-17-rem {
  margin-left: 5rem;
}

.pt-17-rem {
  padding-top: 5rem;
}

.pb-17-rem {
  padding-bottom: 5rem;
}

.pr-17-rem {
  padding-right: 5rem;
}

.pl-17-rem {
  padding-left: 5rem;
}

.mt-18-rem {
  margin-top: 5.25rem;
}

.mb-18-rem {
  margin-bottom: 5.25rem;
}

.mr-18-rem {
  margin-right: 5.25rem;
}

.ml-18-rem {
  margin-left: 5.25rem;
}

.pt-18-rem {
  padding-top: 5.25rem;
}

.pb-18-rem {
  padding-bottom: 5.25rem;
}

.pr-18-rem {
  padding-right: 5.25rem;
}

.pl-18-rem {
  padding-left: 5.25rem;
}

.mt-19-rem {
  margin-top: 5.5rem;
}

.mb-19-rem {
  margin-bottom: 5.5rem;
}

.mr-19-rem {
  margin-right: 5.5rem;
}

.ml-19-rem {
  margin-left: 5.5rem;
}

.pt-19-rem {
  padding-top: 5.5rem;
}

.pb-19-rem {
  padding-bottom: 5.5rem;
}

.pr-19-rem {
  padding-right: 5.5rem;
}

.pl-19-rem {
  padding-left: 5.5rem;
}

.mt-20-rem {
  margin-top: 5.75rem;
}

.mb-20-rem {
  margin-bottom: 5.75rem;
}

.mr-20-rem {
  margin-right: 5.75rem;
}

.ml-20-rem {
  margin-left: 5.75rem;
}

.pt-20-rem {
  padding-top: 5.75rem;
}

.pb-20-rem {
  padding-bottom: 5.75rem;
}

.pr-20-rem {
  padding-right: 5.75rem;
}

.pl-20-rem {
  padding-left: 5.75rem;
}

.mt-21-rem {
  margin-top: 6rem;
}

.mb-21-rem {
  margin-bottom: 6rem;
}

.mr-21-rem {
  margin-right: 6rem;
}

.ml-21-rem {
  margin-left: 6rem;
}

.pt-21-rem {
  padding-top: 6rem;
}

.pb-21-rem {
  padding-bottom: 6rem;
}

.pr-21-rem {
  padding-right: 6rem;
}

.pl-21-rem {
  padding-left: 6rem;
}

.mt-22-rem {
  margin-top: 6.25rem;
}

.mb-22-rem {
  margin-bottom: 6.25rem;
}

.mr-22-rem {
  margin-right: 6.25rem;
}

.ml-22-rem {
  margin-left: 6.25rem;
}

.pt-22-rem {
  padding-top: 6.25rem;
}

.pb-22-rem {
  padding-bottom: 6.25rem;
}

.pr-22-rem {
  padding-right: 6.25rem;
}

.pl-22-rem {
  padding-left: 6.25rem;
}

.mt-23-rem {
  margin-top: 6.5rem;
}

.mb-23-rem {
  margin-bottom: 6.5rem;
}

.mr-23-rem {
  margin-right: 6.5rem;
}

.ml-23-rem {
  margin-left: 6.5rem;
}

.pt-23-rem {
  padding-top: 6.5rem;
}

.pb-23-rem {
  padding-bottom: 6.5rem;
}

.pr-23-rem {
  padding-right: 6.5rem;
}

.pl-23-rem {
  padding-left: 6.5rem;
}

.mt-24-rem {
  margin-top: 6.75rem;
}

.mb-24-rem {
  margin-bottom: 6.75rem;
}

.mr-24-rem {
  margin-right: 6.75rem;
}

.ml-24-rem {
  margin-left: 6.75rem;
}

.pt-24-rem {
  padding-top: 6.75rem;
}

.pb-24-rem {
  padding-bottom: 6.75rem;
}

.pr-24-rem {
  padding-right: 6.75rem;
}

.pl-24-rem {
  padding-left: 6.75rem;
}

.mt-25-rem {
  margin-top: 7rem;
}

.mb-25-rem {
  margin-bottom: 7rem;
}

.mr-25-rem {
  margin-right: 7rem;
}

.ml-25-rem {
  margin-left: 7rem;
}

.pt-25-rem {
  padding-top: 7rem;
}

.pb-25-rem {
  padding-bottom: 7rem;
}

.pr-25-rem {
  padding-right: 7rem;
}

.pl-25-rem {
  padding-left: 7rem;
}

.mt-26-rem {
  margin-top: 7.25rem;
}

.mb-26-rem {
  margin-bottom: 7.25rem;
}

.mr-26-rem {
  margin-right: 7.25rem;
}

.ml-26-rem {
  margin-left: 7.25rem;
}

.pt-26-rem {
  padding-top: 7.25rem;
}

.pb-26-rem {
  padding-bottom: 7.25rem;
}

.pr-26-rem {
  padding-right: 7.25rem;
}

.pl-26-rem {
  padding-left: 7.25rem;
}

.mt-27-rem {
  margin-top: 7.5rem;
}

.mb-27-rem {
  margin-bottom: 7.5rem;
}

.mr-27-rem {
  margin-right: 7.5rem;
}

.ml-27-rem {
  margin-left: 7.5rem;
}

.pt-27-rem {
  padding-top: 7.5rem;
}

.pb-27-rem {
  padding-bottom: 7.5rem;
}

.pr-27-rem {
  padding-right: 7.5rem;
}

.pl-27-rem {
  padding-left: 7.5rem;
}

.mt-28-rem {
  margin-top: 7.75rem;
}

.mb-28-rem {
  margin-bottom: 7.75rem;
}

.mr-28-rem {
  margin-right: 7.75rem;
}

.ml-28-rem {
  margin-left: 7.75rem;
}

.pt-28-rem {
  padding-top: 7.75rem;
}

.pb-28-rem {
  padding-bottom: 7.75rem;
}

.pr-28-rem {
  padding-right: 7.75rem;
}

.pl-28-rem {
  padding-left: 7.75rem;
}

.mt-29-rem {
  margin-top: 8rem;
}

.mb-29-rem {
  margin-bottom: 8rem;
}

.mr-29-rem {
  margin-right: 8rem;
}

.ml-29-rem {
  margin-left: 8rem;
}

.pt-29-rem {
  padding-top: 8rem;
}

.pb-29-rem {
  padding-bottom: 8rem;
}

.pr-29-rem {
  padding-right: 8rem;
}

.pl-29-rem {
  padding-left: 8rem;
}

.mt-30-rem {
  margin-top: 8.25rem;
}

.mb-30-rem {
  margin-bottom: 8.25rem;
}

.mr-30-rem {
  margin-right: 8.25rem;
}

.ml-30-rem {
  margin-left: 8.25rem;
}

.pt-30-rem {
  padding-top: 8.25rem;
}

.pb-30-rem {
  padding-bottom: 8.25rem;
}

.pr-30-rem {
  padding-right: 8.25rem;
}

.pl-30-rem {
  padding-left: 8.25rem;
}

.mt-31-rem {
  margin-top: 8.5rem;
}

.mb-31-rem {
  margin-bottom: 8.5rem;
}

.mr-31-rem {
  margin-right: 8.5rem;
}

.ml-31-rem {
  margin-left: 8.5rem;
}

.pt-31-rem {
  padding-top: 8.5rem;
}

.pb-31-rem {
  padding-bottom: 8.5rem;
}

.pr-31-rem {
  padding-right: 8.5rem;
}

.pl-31-rem {
  padding-left: 8.5rem;
}

.mt-32-rem {
  margin-top: 8.75rem;
}

.mb-32-rem {
  margin-bottom: 8.75rem;
}

.mr-32-rem {
  margin-right: 8.75rem;
}

.ml-32-rem {
  margin-left: 8.75rem;
}

.pt-32-rem {
  padding-top: 8.75rem;
}

.pb-32-rem {
  padding-bottom: 8.75rem;
}

.pr-32-rem {
  padding-right: 8.75rem;
}

.pl-32-rem {
  padding-left: 8.75rem;
}

.mt-33-rem {
  margin-top: 9rem;
}

.mb-33-rem {
  margin-bottom: 9rem;
}

.mr-33-rem {
  margin-right: 9rem;
}

.ml-33-rem {
  margin-left: 9rem;
}

.pt-33-rem {
  padding-top: 9rem;
}

.pb-33-rem {
  padding-bottom: 9rem;
}

.pr-33-rem {
  padding-right: 9rem;
}

.pl-33-rem {
  padding-left: 9rem;
}

.mt-34-rem {
  margin-top: 9.25rem;
}

.mb-34-rem {
  margin-bottom: 9.25rem;
}

.mr-34-rem {
  margin-right: 9.25rem;
}

.ml-34-rem {
  margin-left: 9.25rem;
}

.pt-34-rem {
  padding-top: 9.25rem;
}

.pb-34-rem {
  padding-bottom: 9.25rem;
}

.pr-34-rem {
  padding-right: 9.25rem;
}

.pl-34-rem {
  padding-left: 9.25rem;
}

.mt-35-rem {
  margin-top: 9.5rem;
}

.mb-35-rem {
  margin-bottom: 9.5rem;
}

.mr-35-rem {
  margin-right: 9.5rem;
}

.ml-35-rem {
  margin-left: 9.5rem;
}

.pt-35-rem {
  padding-top: 9.5rem;
}

.pb-35-rem {
  padding-bottom: 9.5rem;
}

.pr-35-rem {
  padding-right: 9.5rem;
}

.pl-35-rem {
  padding-left: 9.5rem;
}

.mt-36-rem {
  margin-top: 9.75rem;
}

.mb-36-rem {
  margin-bottom: 9.75rem;
}

.mr-36-rem {
  margin-right: 9.75rem;
}

.ml-36-rem {
  margin-left: 9.75rem;
}

.pt-36-rem {
  padding-top: 9.75rem;
}

.pb-36-rem {
  padding-bottom: 9.75rem;
}

.pr-36-rem {
  padding-right: 9.75rem;
}

.pl-36-rem {
  padding-left: 9.75rem;
}

.mt-37-rem {
  margin-top: 10rem;
}

.mb-37-rem {
  margin-bottom: 10rem;
}

.mr-37-rem {
  margin-right: 10rem;
}

.ml-37-rem {
  margin-left: 10rem;
}

.pt-37-rem {
  padding-top: 10rem;
}

.pb-37-rem {
  padding-bottom: 10rem;
}

.pr-37-rem {
  padding-right: 10rem;
}

.pl-37-rem {
  padding-left: 10rem;
}

.mt-38-rem {
  margin-top: 10.25rem;
}

.mb-38-rem {
  margin-bottom: 10.25rem;
}

.mr-38-rem {
  margin-right: 10.25rem;
}

.ml-38-rem {
  margin-left: 10.25rem;
}

.pt-38-rem {
  padding-top: 10.25rem;
}

.pb-38-rem {
  padding-bottom: 10.25rem;
}

.pr-38-rem {
  padding-right: 10.25rem;
}

.pl-38-rem {
  padding-left: 10.25rem;
}

.mt-39-rem {
  margin-top: 10.5rem;
}

.mb-39-rem {
  margin-bottom: 10.5rem;
}

.mr-39-rem {
  margin-right: 10.5rem;
}

.ml-39-rem {
  margin-left: 10.5rem;
}

.pt-39-rem {
  padding-top: 10.5rem;
}

.pb-39-rem {
  padding-bottom: 10.5rem;
}

.pr-39-rem {
  padding-right: 10.5rem;
}

.pl-39-rem {
  padding-left: 10.5rem;
}

.mt-40-rem {
  margin-top: 10.75rem;
}

.mb-40-rem {
  margin-bottom: 10.75rem;
}

.mr-40-rem {
  margin-right: 10.75rem;
}

.ml-40-rem {
  margin-left: 10.75rem;
}

.pt-40-rem {
  padding-top: 10.75rem;
}

.pb-40-rem {
  padding-bottom: 10.75rem;
}

.pr-40-rem {
  padding-right: 10.75rem;
}

.pl-40-rem {
  padding-left: 10.75rem;
}

.mt-41-rem {
  margin-top: 11rem;
}

.mb-41-rem {
  margin-bottom: 11rem;
}

.mr-41-rem {
  margin-right: 11rem;
}

.ml-41-rem {
  margin-left: 11rem;
}

.pt-41-rem {
  padding-top: 11rem;
}

.pb-41-rem {
  padding-bottom: 11rem;
}

.pr-41-rem {
  padding-right: 11rem;
}

.pl-41-rem {
  padding-left: 11rem;
}

.mt-42-rem {
  margin-top: 11.25rem;
}

.mb-42-rem {
  margin-bottom: 11.25rem;
}

.mr-42-rem {
  margin-right: 11.25rem;
}

.ml-42-rem {
  margin-left: 11.25rem;
}

.pt-42-rem {
  padding-top: 11.25rem;
}

.pb-42-rem {
  padding-bottom: 11.25rem;
}

.pr-42-rem {
  padding-right: 11.25rem;
}

.pl-42-rem {
  padding-left: 11.25rem;
}

.mt-43-rem {
  margin-top: 11.5rem;
}

.mb-43-rem {
  margin-bottom: 11.5rem;
}

.mr-43-rem {
  margin-right: 11.5rem;
}

.ml-43-rem {
  margin-left: 11.5rem;
}

.pt-43-rem {
  padding-top: 11.5rem;
}

.pb-43-rem {
  padding-bottom: 11.5rem;
}

.pr-43-rem {
  padding-right: 11.5rem;
}

.pl-43-rem {
  padding-left: 11.5rem;
}

.mt-44-rem {
  margin-top: 11.75rem;
}

.mb-44-rem {
  margin-bottom: 11.75rem;
}

.mr-44-rem {
  margin-right: 11.75rem;
}

.ml-44-rem {
  margin-left: 11.75rem;
}

.pt-44-rem {
  padding-top: 11.75rem;
}

.pb-44-rem {
  padding-bottom: 11.75rem;
}

.pr-44-rem {
  padding-right: 11.75rem;
}

.pl-44-rem {
  padding-left: 11.75rem;
}

.mt-45-rem {
  margin-top: 12rem;
}

.mb-45-rem {
  margin-bottom: 12rem;
}

.mr-45-rem {
  margin-right: 12rem;
}

.ml-45-rem {
  margin-left: 12rem;
}

.pt-45-rem {
  padding-top: 12rem;
}

.pb-45-rem {
  padding-bottom: 12rem;
}

.pr-45-rem {
  padding-right: 12rem;
}

.pl-45-rem {
  padding-left: 12rem;
}

.mt-46-rem {
  margin-top: 12.25rem;
}

.mb-46-rem {
  margin-bottom: 12.25rem;
}

.mr-46-rem {
  margin-right: 12.25rem;
}

.ml-46-rem {
  margin-left: 12.25rem;
}

.pt-46-rem {
  padding-top: 12.25rem;
}

.pb-46-rem {
  padding-bottom: 12.25rem;
}

.pr-46-rem {
  padding-right: 12.25rem;
}

.pl-46-rem {
  padding-left: 12.25rem;
}

.mt-47-rem {
  margin-top: 12.5rem;
}

.mb-47-rem {
  margin-bottom: 12.5rem;
}

.mr-47-rem {
  margin-right: 12.5rem;
}

.ml-47-rem {
  margin-left: 12.5rem;
}

.pt-47-rem {
  padding-top: 12.5rem;
}

.pb-47-rem {
  padding-bottom: 12.5rem;
}

.pr-47-rem {
  padding-right: 12.5rem;
}

.pl-47-rem {
  padding-left: 12.5rem;
}

.mt-auto-rem {
  margin-top: auto;
}

.mb-auto-rem {
  margin-bottom: auto;
}

.mr-auto-rem {
  margin-right: auto;
}

.ml-auto-rem {
  margin-left: auto;
}

.pt-auto-rem {
  padding-top: auto;
}

.pb-auto-rem {
  padding-bottom: auto;
}

.pr-auto-rem {
  padding-right: auto;
}

.pl-auto-rem {
  padding-left: auto;
}

@media (max-width: 415px) {
  .mt-xs-0-rem {
    margin-top: 0;
  }

  .mb-xs-0-rem {
    margin-bottom: 0;
  }

  .mr-xs-0-rem {
    margin-right: 0;
  }

  .ml-xs-0-rem {
    margin-left: 0;
  }
}
@media (max-width: 415px) {
  .pt-xs-0-rem {
    padding-top: 0;
  }

  .pb-xs-0-rem {
    padding-bottom: 0;
  }

  .pr-xs-0-rem {
    padding-right: 0;
  }

  .pl-xs-0-rem {
    padding-left: 0;
  }
}
@media (max-width: 415px) {
  .mt-xs-1-rem {
    margin-top: 1rem;
  }

  .mb-xs-1-rem {
    margin-bottom: 1rem;
  }

  .mr-xs-1-rem {
    margin-right: 1rem;
  }

  .ml-xs-1-rem {
    margin-left: 1rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-1-rem {
    padding-top: 1rem;
  }

  .pb-xs-1-rem {
    padding-bottom: 1rem;
  }

  .pr-xs-1-rem {
    padding-right: 1rem;
  }

  .pl-xs-1-rem {
    padding-left: 1rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-2-rem {
    margin-top: 1.25rem;
  }

  .mb-xs-2-rem {
    margin-bottom: 1.25rem;
  }

  .mr-xs-2-rem {
    margin-right: 1.25rem;
  }

  .ml-xs-2-rem {
    margin-left: 1.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-2-rem {
    padding-top: 1.25rem;
  }

  .pb-xs-2-rem {
    padding-bottom: 1.25rem;
  }

  .pr-xs-2-rem {
    padding-right: 1.25rem;
  }

  .pl-xs-2-rem {
    padding-left: 1.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-3-rem {
    margin-top: 1.5rem;
  }

  .mb-xs-3-rem {
    margin-bottom: 1.5rem;
  }

  .mr-xs-3-rem {
    margin-right: 1.5rem;
  }

  .ml-xs-3-rem {
    margin-left: 1.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-3-rem {
    padding-top: 1.5rem;
  }

  .pb-xs-3-rem {
    padding-bottom: 1.5rem;
  }

  .pr-xs-3-rem {
    padding-right: 1.5rem;
  }

  .pl-xs-3-rem {
    padding-left: 1.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-4-rem {
    margin-top: 1.75rem;
  }

  .mb-xs-4-rem {
    margin-bottom: 1.75rem;
  }

  .mr-xs-4-rem {
    margin-right: 1.75rem;
  }

  .ml-xs-4-rem {
    margin-left: 1.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-4-rem {
    padding-top: 1.75rem;
  }

  .pb-xs-4-rem {
    padding-bottom: 1.75rem;
  }

  .pr-xs-4-rem {
    padding-right: 1.75rem;
  }

  .pl-xs-4-rem {
    padding-left: 1.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-5-rem {
    margin-top: 2rem;
  }

  .mb-xs-5-rem {
    margin-bottom: 2rem;
  }

  .mr-xs-5-rem {
    margin-right: 2rem;
  }

  .ml-xs-5-rem {
    margin-left: 2rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-5-rem {
    padding-top: 2rem;
  }

  .pb-xs-5-rem {
    padding-bottom: 2rem;
  }

  .pr-xs-5-rem {
    padding-right: 2rem;
  }

  .pl-xs-5-rem {
    padding-left: 2rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-6-rem {
    margin-top: 2.25rem;
  }

  .mb-xs-6-rem {
    margin-bottom: 2.25rem;
  }

  .mr-xs-6-rem {
    margin-right: 2.25rem;
  }

  .ml-xs-6-rem {
    margin-left: 2.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-6-rem {
    padding-top: 2.25rem;
  }

  .pb-xs-6-rem {
    padding-bottom: 2.25rem;
  }

  .pr-xs-6-rem {
    padding-right: 2.25rem;
  }

  .pl-xs-6-rem {
    padding-left: 2.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-7-rem {
    margin-top: 2.5rem;
  }

  .mb-xs-7-rem {
    margin-bottom: 2.5rem;
  }

  .mr-xs-7-rem {
    margin-right: 2.5rem;
  }

  .ml-xs-7-rem {
    margin-left: 2.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-7-rem {
    padding-top: 2.5rem;
  }

  .pb-xs-7-rem {
    padding-bottom: 2.5rem;
  }

  .pr-xs-7-rem {
    padding-right: 2.5rem;
  }

  .pl-xs-7-rem {
    padding-left: 2.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-8-rem {
    margin-top: 2.75rem;
  }

  .mb-xs-8-rem {
    margin-bottom: 2.75rem;
  }

  .mr-xs-8-rem {
    margin-right: 2.75rem;
  }

  .ml-xs-8-rem {
    margin-left: 2.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-8-rem {
    padding-top: 2.75rem;
  }

  .pb-xs-8-rem {
    padding-bottom: 2.75rem;
  }

  .pr-xs-8-rem {
    padding-right: 2.75rem;
  }

  .pl-xs-8-rem {
    padding-left: 2.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-9-rem {
    margin-top: 3rem;
  }

  .mb-xs-9-rem {
    margin-bottom: 3rem;
  }

  .mr-xs-9-rem {
    margin-right: 3rem;
  }

  .ml-xs-9-rem {
    margin-left: 3rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-9-rem {
    padding-top: 3rem;
  }

  .pb-xs-9-rem {
    padding-bottom: 3rem;
  }

  .pr-xs-9-rem {
    padding-right: 3rem;
  }

  .pl-xs-9-rem {
    padding-left: 3rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-10-rem {
    margin-top: 3.25rem;
  }

  .mb-xs-10-rem {
    margin-bottom: 3.25rem;
  }

  .mr-xs-10-rem {
    margin-right: 3.25rem;
  }

  .ml-xs-10-rem {
    margin-left: 3.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-10-rem {
    padding-top: 3.25rem;
  }

  .pb-xs-10-rem {
    padding-bottom: 3.25rem;
  }

  .pr-xs-10-rem {
    padding-right: 3.25rem;
  }

  .pl-xs-10-rem {
    padding-left: 3.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-11-rem {
    margin-top: 3.5rem;
  }

  .mb-xs-11-rem {
    margin-bottom: 3.5rem;
  }

  .mr-xs-11-rem {
    margin-right: 3.5rem;
  }

  .ml-xs-11-rem {
    margin-left: 3.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-11-rem {
    padding-top: 3.5rem;
  }

  .pb-xs-11-rem {
    padding-bottom: 3.5rem;
  }

  .pr-xs-11-rem {
    padding-right: 3.5rem;
  }

  .pl-xs-11-rem {
    padding-left: 3.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-12-rem {
    margin-top: 3.75rem;
  }

  .mb-xs-12-rem {
    margin-bottom: 3.75rem;
  }

  .mr-xs-12-rem {
    margin-right: 3.75rem;
  }

  .ml-xs-12-rem {
    margin-left: 3.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-12-rem {
    padding-top: 3.75rem;
  }

  .pb-xs-12-rem {
    padding-bottom: 3.75rem;
  }

  .pr-xs-12-rem {
    padding-right: 3.75rem;
  }

  .pl-xs-12-rem {
    padding-left: 3.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-13-rem {
    margin-top: 4rem;
  }

  .mb-xs-13-rem {
    margin-bottom: 4rem;
  }

  .mr-xs-13-rem {
    margin-right: 4rem;
  }

  .ml-xs-13-rem {
    margin-left: 4rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-13-rem {
    padding-top: 4rem;
  }

  .pb-xs-13-rem {
    padding-bottom: 4rem;
  }

  .pr-xs-13-rem {
    padding-right: 4rem;
  }

  .pl-xs-13-rem {
    padding-left: 4rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-14-rem {
    margin-top: 4.25rem;
  }

  .mb-xs-14-rem {
    margin-bottom: 4.25rem;
  }

  .mr-xs-14-rem {
    margin-right: 4.25rem;
  }

  .ml-xs-14-rem {
    margin-left: 4.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-14-rem {
    padding-top: 4.25rem;
  }

  .pb-xs-14-rem {
    padding-bottom: 4.25rem;
  }

  .pr-xs-14-rem {
    padding-right: 4.25rem;
  }

  .pl-xs-14-rem {
    padding-left: 4.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-15-rem {
    margin-top: 4.5rem;
  }

  .mb-xs-15-rem {
    margin-bottom: 4.5rem;
  }

  .mr-xs-15-rem {
    margin-right: 4.5rem;
  }

  .ml-xs-15-rem {
    margin-left: 4.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-15-rem {
    padding-top: 4.5rem;
  }

  .pb-xs-15-rem {
    padding-bottom: 4.5rem;
  }

  .pr-xs-15-rem {
    padding-right: 4.5rem;
  }

  .pl-xs-15-rem {
    padding-left: 4.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-16-rem {
    margin-top: 4.75rem;
  }

  .mb-xs-16-rem {
    margin-bottom: 4.75rem;
  }

  .mr-xs-16-rem {
    margin-right: 4.75rem;
  }

  .ml-xs-16-rem {
    margin-left: 4.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-16-rem {
    padding-top: 4.75rem;
  }

  .pb-xs-16-rem {
    padding-bottom: 4.75rem;
  }

  .pr-xs-16-rem {
    padding-right: 4.75rem;
  }

  .pl-xs-16-rem {
    padding-left: 4.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-17-rem {
    margin-top: 5rem;
  }

  .mb-xs-17-rem {
    margin-bottom: 5rem;
  }

  .mr-xs-17-rem {
    margin-right: 5rem;
  }

  .ml-xs-17-rem {
    margin-left: 5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-17-rem {
    padding-top: 5rem;
  }

  .pb-xs-17-rem {
    padding-bottom: 5rem;
  }

  .pr-xs-17-rem {
    padding-right: 5rem;
  }

  .pl-xs-17-rem {
    padding-left: 5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-18-rem {
    margin-top: 5.25rem;
  }

  .mb-xs-18-rem {
    margin-bottom: 5.25rem;
  }

  .mr-xs-18-rem {
    margin-right: 5.25rem;
  }

  .ml-xs-18-rem {
    margin-left: 5.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-18-rem {
    padding-top: 5.25rem;
  }

  .pb-xs-18-rem {
    padding-bottom: 5.25rem;
  }

  .pr-xs-18-rem {
    padding-right: 5.25rem;
  }

  .pl-xs-18-rem {
    padding-left: 5.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-19-rem {
    margin-top: 5.5rem;
  }

  .mb-xs-19-rem {
    margin-bottom: 5.5rem;
  }

  .mr-xs-19-rem {
    margin-right: 5.5rem;
  }

  .ml-xs-19-rem {
    margin-left: 5.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-19-rem {
    padding-top: 5.5rem;
  }

  .pb-xs-19-rem {
    padding-bottom: 5.5rem;
  }

  .pr-xs-19-rem {
    padding-right: 5.5rem;
  }

  .pl-xs-19-rem {
    padding-left: 5.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-20-rem {
    margin-top: 5.75rem;
  }

  .mb-xs-20-rem {
    margin-bottom: 5.75rem;
  }

  .mr-xs-20-rem {
    margin-right: 5.75rem;
  }

  .ml-xs-20-rem {
    margin-left: 5.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-20-rem {
    padding-top: 5.75rem;
  }

  .pb-xs-20-rem {
    padding-bottom: 5.75rem;
  }

  .pr-xs-20-rem {
    padding-right: 5.75rem;
  }

  .pl-xs-20-rem {
    padding-left: 5.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-21-rem {
    margin-top: 6rem;
  }

  .mb-xs-21-rem {
    margin-bottom: 6rem;
  }

  .mr-xs-21-rem {
    margin-right: 6rem;
  }

  .ml-xs-21-rem {
    margin-left: 6rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-21-rem {
    padding-top: 6rem;
  }

  .pb-xs-21-rem {
    padding-bottom: 6rem;
  }

  .pr-xs-21-rem {
    padding-right: 6rem;
  }

  .pl-xs-21-rem {
    padding-left: 6rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-22-rem {
    margin-top: 6.25rem;
  }

  .mb-xs-22-rem {
    margin-bottom: 6.25rem;
  }

  .mr-xs-22-rem {
    margin-right: 6.25rem;
  }

  .ml-xs-22-rem {
    margin-left: 6.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-22-rem {
    padding-top: 6.25rem;
  }

  .pb-xs-22-rem {
    padding-bottom: 6.25rem;
  }

  .pr-xs-22-rem {
    padding-right: 6.25rem;
  }

  .pl-xs-22-rem {
    padding-left: 6.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-23-rem {
    margin-top: 6.5rem;
  }

  .mb-xs-23-rem {
    margin-bottom: 6.5rem;
  }

  .mr-xs-23-rem {
    margin-right: 6.5rem;
  }

  .ml-xs-23-rem {
    margin-left: 6.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-23-rem {
    padding-top: 6.5rem;
  }

  .pb-xs-23-rem {
    padding-bottom: 6.5rem;
  }

  .pr-xs-23-rem {
    padding-right: 6.5rem;
  }

  .pl-xs-23-rem {
    padding-left: 6.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-24-rem {
    margin-top: 6.75rem;
  }

  .mb-xs-24-rem {
    margin-bottom: 6.75rem;
  }

  .mr-xs-24-rem {
    margin-right: 6.75rem;
  }

  .ml-xs-24-rem {
    margin-left: 6.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-24-rem {
    padding-top: 6.75rem;
  }

  .pb-xs-24-rem {
    padding-bottom: 6.75rem;
  }

  .pr-xs-24-rem {
    padding-right: 6.75rem;
  }

  .pl-xs-24-rem {
    padding-left: 6.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-25-rem {
    margin-top: 7rem;
  }

  .mb-xs-25-rem {
    margin-bottom: 7rem;
  }

  .mr-xs-25-rem {
    margin-right: 7rem;
  }

  .ml-xs-25-rem {
    margin-left: 7rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-25-rem {
    padding-top: 7rem;
  }

  .pb-xs-25-rem {
    padding-bottom: 7rem;
  }

  .pr-xs-25-rem {
    padding-right: 7rem;
  }

  .pl-xs-25-rem {
    padding-left: 7rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-26-rem {
    margin-top: 7.25rem;
  }

  .mb-xs-26-rem {
    margin-bottom: 7.25rem;
  }

  .mr-xs-26-rem {
    margin-right: 7.25rem;
  }

  .ml-xs-26-rem {
    margin-left: 7.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-26-rem {
    padding-top: 7.25rem;
  }

  .pb-xs-26-rem {
    padding-bottom: 7.25rem;
  }

  .pr-xs-26-rem {
    padding-right: 7.25rem;
  }

  .pl-xs-26-rem {
    padding-left: 7.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-27-rem {
    margin-top: 7.5rem;
  }

  .mb-xs-27-rem {
    margin-bottom: 7.5rem;
  }

  .mr-xs-27-rem {
    margin-right: 7.5rem;
  }

  .ml-xs-27-rem {
    margin-left: 7.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-27-rem {
    padding-top: 7.5rem;
  }

  .pb-xs-27-rem {
    padding-bottom: 7.5rem;
  }

  .pr-xs-27-rem {
    padding-right: 7.5rem;
  }

  .pl-xs-27-rem {
    padding-left: 7.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-28-rem {
    margin-top: 7.75rem;
  }

  .mb-xs-28-rem {
    margin-bottom: 7.75rem;
  }

  .mr-xs-28-rem {
    margin-right: 7.75rem;
  }

  .ml-xs-28-rem {
    margin-left: 7.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-28-rem {
    padding-top: 7.75rem;
  }

  .pb-xs-28-rem {
    padding-bottom: 7.75rem;
  }

  .pr-xs-28-rem {
    padding-right: 7.75rem;
  }

  .pl-xs-28-rem {
    padding-left: 7.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-29-rem {
    margin-top: 8rem;
  }

  .mb-xs-29-rem {
    margin-bottom: 8rem;
  }

  .mr-xs-29-rem {
    margin-right: 8rem;
  }

  .ml-xs-29-rem {
    margin-left: 8rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-29-rem {
    padding-top: 8rem;
  }

  .pb-xs-29-rem {
    padding-bottom: 8rem;
  }

  .pr-xs-29-rem {
    padding-right: 8rem;
  }

  .pl-xs-29-rem {
    padding-left: 8rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-30-rem {
    margin-top: 8.25rem;
  }

  .mb-xs-30-rem {
    margin-bottom: 8.25rem;
  }

  .mr-xs-30-rem {
    margin-right: 8.25rem;
  }

  .ml-xs-30-rem {
    margin-left: 8.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-30-rem {
    padding-top: 8.25rem;
  }

  .pb-xs-30-rem {
    padding-bottom: 8.25rem;
  }

  .pr-xs-30-rem {
    padding-right: 8.25rem;
  }

  .pl-xs-30-rem {
    padding-left: 8.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-31-rem {
    margin-top: 8.5rem;
  }

  .mb-xs-31-rem {
    margin-bottom: 8.5rem;
  }

  .mr-xs-31-rem {
    margin-right: 8.5rem;
  }

  .ml-xs-31-rem {
    margin-left: 8.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-31-rem {
    padding-top: 8.5rem;
  }

  .pb-xs-31-rem {
    padding-bottom: 8.5rem;
  }

  .pr-xs-31-rem {
    padding-right: 8.5rem;
  }

  .pl-xs-31-rem {
    padding-left: 8.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-32-rem {
    margin-top: 8.75rem;
  }

  .mb-xs-32-rem {
    margin-bottom: 8.75rem;
  }

  .mr-xs-32-rem {
    margin-right: 8.75rem;
  }

  .ml-xs-32-rem {
    margin-left: 8.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-32-rem {
    padding-top: 8.75rem;
  }

  .pb-xs-32-rem {
    padding-bottom: 8.75rem;
  }

  .pr-xs-32-rem {
    padding-right: 8.75rem;
  }

  .pl-xs-32-rem {
    padding-left: 8.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-33-rem {
    margin-top: 9rem;
  }

  .mb-xs-33-rem {
    margin-bottom: 9rem;
  }

  .mr-xs-33-rem {
    margin-right: 9rem;
  }

  .ml-xs-33-rem {
    margin-left: 9rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-33-rem {
    padding-top: 9rem;
  }

  .pb-xs-33-rem {
    padding-bottom: 9rem;
  }

  .pr-xs-33-rem {
    padding-right: 9rem;
  }

  .pl-xs-33-rem {
    padding-left: 9rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-34-rem {
    margin-top: 9.25rem;
  }

  .mb-xs-34-rem {
    margin-bottom: 9.25rem;
  }

  .mr-xs-34-rem {
    margin-right: 9.25rem;
  }

  .ml-xs-34-rem {
    margin-left: 9.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-34-rem {
    padding-top: 9.25rem;
  }

  .pb-xs-34-rem {
    padding-bottom: 9.25rem;
  }

  .pr-xs-34-rem {
    padding-right: 9.25rem;
  }

  .pl-xs-34-rem {
    padding-left: 9.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-35-rem {
    margin-top: 9.5rem;
  }

  .mb-xs-35-rem {
    margin-bottom: 9.5rem;
  }

  .mr-xs-35-rem {
    margin-right: 9.5rem;
  }

  .ml-xs-35-rem {
    margin-left: 9.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-35-rem {
    padding-top: 9.5rem;
  }

  .pb-xs-35-rem {
    padding-bottom: 9.5rem;
  }

  .pr-xs-35-rem {
    padding-right: 9.5rem;
  }

  .pl-xs-35-rem {
    padding-left: 9.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-36-rem {
    margin-top: 9.75rem;
  }

  .mb-xs-36-rem {
    margin-bottom: 9.75rem;
  }

  .mr-xs-36-rem {
    margin-right: 9.75rem;
  }

  .ml-xs-36-rem {
    margin-left: 9.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-36-rem {
    padding-top: 9.75rem;
  }

  .pb-xs-36-rem {
    padding-bottom: 9.75rem;
  }

  .pr-xs-36-rem {
    padding-right: 9.75rem;
  }

  .pl-xs-36-rem {
    padding-left: 9.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-37-rem {
    margin-top: 10rem;
  }

  .mb-xs-37-rem {
    margin-bottom: 10rem;
  }

  .mr-xs-37-rem {
    margin-right: 10rem;
  }

  .ml-xs-37-rem {
    margin-left: 10rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-37-rem {
    padding-top: 10rem;
  }

  .pb-xs-37-rem {
    padding-bottom: 10rem;
  }

  .pr-xs-37-rem {
    padding-right: 10rem;
  }

  .pl-xs-37-rem {
    padding-left: 10rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-38-rem {
    margin-top: 10.25rem;
  }

  .mb-xs-38-rem {
    margin-bottom: 10.25rem;
  }

  .mr-xs-38-rem {
    margin-right: 10.25rem;
  }

  .ml-xs-38-rem {
    margin-left: 10.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-38-rem {
    padding-top: 10.25rem;
  }

  .pb-xs-38-rem {
    padding-bottom: 10.25rem;
  }

  .pr-xs-38-rem {
    padding-right: 10.25rem;
  }

  .pl-xs-38-rem {
    padding-left: 10.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-39-rem {
    margin-top: 10.5rem;
  }

  .mb-xs-39-rem {
    margin-bottom: 10.5rem;
  }

  .mr-xs-39-rem {
    margin-right: 10.5rem;
  }

  .ml-xs-39-rem {
    margin-left: 10.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-39-rem {
    padding-top: 10.5rem;
  }

  .pb-xs-39-rem {
    padding-bottom: 10.5rem;
  }

  .pr-xs-39-rem {
    padding-right: 10.5rem;
  }

  .pl-xs-39-rem {
    padding-left: 10.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-40-rem {
    margin-top: 10.75rem;
  }

  .mb-xs-40-rem {
    margin-bottom: 10.75rem;
  }

  .mr-xs-40-rem {
    margin-right: 10.75rem;
  }

  .ml-xs-40-rem {
    margin-left: 10.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-40-rem {
    padding-top: 10.75rem;
  }

  .pb-xs-40-rem {
    padding-bottom: 10.75rem;
  }

  .pr-xs-40-rem {
    padding-right: 10.75rem;
  }

  .pl-xs-40-rem {
    padding-left: 10.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-41-rem {
    margin-top: 11rem;
  }

  .mb-xs-41-rem {
    margin-bottom: 11rem;
  }

  .mr-xs-41-rem {
    margin-right: 11rem;
  }

  .ml-xs-41-rem {
    margin-left: 11rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-41-rem {
    padding-top: 11rem;
  }

  .pb-xs-41-rem {
    padding-bottom: 11rem;
  }

  .pr-xs-41-rem {
    padding-right: 11rem;
  }

  .pl-xs-41-rem {
    padding-left: 11rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-42-rem {
    margin-top: 11.25rem;
  }

  .mb-xs-42-rem {
    margin-bottom: 11.25rem;
  }

  .mr-xs-42-rem {
    margin-right: 11.25rem;
  }

  .ml-xs-42-rem {
    margin-left: 11.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-42-rem {
    padding-top: 11.25rem;
  }

  .pb-xs-42-rem {
    padding-bottom: 11.25rem;
  }

  .pr-xs-42-rem {
    padding-right: 11.25rem;
  }

  .pl-xs-42-rem {
    padding-left: 11.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-43-rem {
    margin-top: 11.5rem;
  }

  .mb-xs-43-rem {
    margin-bottom: 11.5rem;
  }

  .mr-xs-43-rem {
    margin-right: 11.5rem;
  }

  .ml-xs-43-rem {
    margin-left: 11.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-43-rem {
    padding-top: 11.5rem;
  }

  .pb-xs-43-rem {
    padding-bottom: 11.5rem;
  }

  .pr-xs-43-rem {
    padding-right: 11.5rem;
  }

  .pl-xs-43-rem {
    padding-left: 11.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-44-rem {
    margin-top: 11.75rem;
  }

  .mb-xs-44-rem {
    margin-bottom: 11.75rem;
  }

  .mr-xs-44-rem {
    margin-right: 11.75rem;
  }

  .ml-xs-44-rem {
    margin-left: 11.75rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-44-rem {
    padding-top: 11.75rem;
  }

  .pb-xs-44-rem {
    padding-bottom: 11.75rem;
  }

  .pr-xs-44-rem {
    padding-right: 11.75rem;
  }

  .pl-xs-44-rem {
    padding-left: 11.75rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-45-rem {
    margin-top: 12rem;
  }

  .mb-xs-45-rem {
    margin-bottom: 12rem;
  }

  .mr-xs-45-rem {
    margin-right: 12rem;
  }

  .ml-xs-45-rem {
    margin-left: 12rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-45-rem {
    padding-top: 12rem;
  }

  .pb-xs-45-rem {
    padding-bottom: 12rem;
  }

  .pr-xs-45-rem {
    padding-right: 12rem;
  }

  .pl-xs-45-rem {
    padding-left: 12rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-46-rem {
    margin-top: 12.25rem;
  }

  .mb-xs-46-rem {
    margin-bottom: 12.25rem;
  }

  .mr-xs-46-rem {
    margin-right: 12.25rem;
  }

  .ml-xs-46-rem {
    margin-left: 12.25rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-46-rem {
    padding-top: 12.25rem;
  }

  .pb-xs-46-rem {
    padding-bottom: 12.25rem;
  }

  .pr-xs-46-rem {
    padding-right: 12.25rem;
  }

  .pl-xs-46-rem {
    padding-left: 12.25rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-47-rem {
    margin-top: 12.5rem;
  }

  .mb-xs-47-rem {
    margin-bottom: 12.5rem;
  }

  .mr-xs-47-rem {
    margin-right: 12.5rem;
  }

  .ml-xs-47-rem {
    margin-left: 12.5rem;
  }
}
@media (max-width: 415px) {
  .pt-xs-47-rem {
    padding-top: 12.5rem;
  }

  .pb-xs-47-rem {
    padding-bottom: 12.5rem;
  }

  .pr-xs-47-rem {
    padding-right: 12.5rem;
  }

  .pl-xs-47-rem {
    padding-left: 12.5rem;
  }
}
@media (max-width: 415px) {
  .mt-xs-auto-rem {
    margin-top: auto;
  }

  .mb-xs-auto-rem {
    margin-bottom: auto;
  }

  .mr-xs-auto-rem {
    margin-right: auto;
  }

  .ml-xs-auto-rem {
    margin-left: auto;
  }
}
@media (max-width: 415px) {
  .pt-xs-auto-rem {
    padding-top: auto;
  }

  .pb-xs-auto-rem {
    padding-bottom: auto;
  }

  .pr-xs-auto-rem {
    padding-right: auto;
  }

  .pl-xs-auto-rem {
    padding-left: auto;
  }
}
.m-0 {
  margin: 0;
}
.mb-10px {
  margin-bottom: 10px;
}
.mb-15px {
  margin-bottom: 15px;
}
.mb-18px {
  margin-bottom: 18px;
}
.ml-auto {
  margin-left: auto;
}

.px-10px {
  padding-right: 10px;
  padding-left: 10px;
}
.py-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pt-63px {
  padding-top: 63px;
}

.text-regular {
  font-weight: 400;
}
.text-bold {
  font-weight: bold;
}
.text-size-1 {
  font-size: 16px;
  line-height: 1.5;
}
.text-size-2 {
  font-size: 24px;
  line-height: 1.5;
}
.text-size-3 {
  font-size: 32px;
  line-height: 1.5;
}
.text-small {
  font-size: 12.8px;
  line-height: 1.5;
}
.text-10 {
  font-size: 10px;
}
.text-12 {
  font-size: 12px;
  line-height: 1.5;
}
.text-13 {
  font-size: 13px;
  line-height: 1.5;
}
.text-15 {
  font-size: 15px;
  line-height: 24px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-white {
  color: var(--white);
}
.text-gray {
  color: var(--gray);
}
.text-center {
  text-align: center;
}

.ff-arial {
  font-family: Arial, sans-serif;
}
.fs-13 {
  font-size: 13px;
}

.header {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 415px) {
  .header-container {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 415px) {
  .header-logo {
    margin-bottom: 17px;
  }
}
.header-logo-img {
  width: 24px;
}
@media (max-width: 415px) {
  .header-nav-list {
    flex-direction: column;
  }
}
.header-nav-item:not(:last-child) {
  margin-right: 24px;
}
.header-nav-link {
  color: var(--dark-gray);
}
.header-nav-active {
  color: var(--white);
  font-size: 11px;
}
@media (max-width: 415px) {
  .header-right {
    width: calc(100% - 20px);
    margin-top: 18px;
    margin-left: 0;
  }
}
.header-search {
  display: inline-block;
  width: 248px;
  border: 0;
  border-radius: 50px;
  background-color: var(--dark);
}
@media (max-width: 415px) {
  .header-search {
    width: 100%;
  }
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.btn-big {
  padding: 20px 30px;
}
.btn-group {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 415px) {
  .btn-group {
    display: block;
  }
}
.btn-icon {
  display: flex;
  align-items: center;
}
@media (max-width: 415px) {
  .btn-icon:not(:last-child) {
    margin-bottom: 24px;
  }
}
.btn-small {
  padding: 16px 30px;
  font-size: 12px;
}
.btn-w-200 {
  width: 200px;
}
.btn-round {
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
}
.btn-green {
  color: #fff;
  background-color: var(--green);
}
.btn-red {
  color: #fff;
  background-color: var(--red);
}
.btn-purple {
  color: #fff;
  background-color: var(--purple);
}
.btn-transparent {
  border: 1px solid;
  background-color: transparent;
}
.btn-transparent-white {
  border-color: #fff;
  color: #fff;
}
.btn-transparent-gray {
  border-color: #cacaca;
  color: #cacaca;
}

.icon {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.icon-btn {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  filter: invert(1);
}
.icon-btn-play {
  background-image: url("../images/play-button.svg");
}
.icon-btn-heart {
  background-image: url("../images/heart.svg");
}
.icon-google-plus {
  width: 26px;
  height: 17px;
  background-image: url("../images/Google+.png");
}
.icon-facebook {
  width: 12px;
  height: 20px;
  background-image: url("../images/Facebook.png");
}
.icon-instagram {
  width: 19px;
  height: 20px;
  background-image: url("../images/Instagram.png");
}
.icon-twitter {
  width: 22px;
  height: 19px;
  background-image: url("../images/Twitter.png");
}

.page-description {
  background-color: var(--black);
  background-position: center;
  background-size: cover;
}
.page-description-home {
  background-image: url("../images/banner.png");
}
.page-description-morten_harket {
  background-image: url("../images/Morten Harket.png");
}

.container-form {
  max-width: 570px;
}

.get-access-form {
  max-width: 570px;
  margin: 0 auto;
}

.get-access-fields {
  width: 100%;
}
@media (max-width: 415px) {
  .get-access-fields {
    gap: 1.5rem;
  }
}

.get-access-field {
  min-width: 270px;
  min-height: 50px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: transparent;
}
@media (max-width: 415px) {
  .get-access-field {
    width: 100%;
  }
}
.get-access-field::placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.pricing-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 368px);
  justify-content: center;
  column-gap: 47px;
}
@media (max-width: 415px) {
  .pricing-items {
    grid-template-columns: repeat(auto-fit, 374px);
    row-gap: 50px;
  }
}
.pricing-item {
  border-radius: 1rem;
}
.pricing-item-h3 {
  font-weight: 400;
}
@media (max-width: 415px) {
  .pricing-item-h3 {
    font-size: 16px;
  }
}

.bg-free {
  background: url("../images/subscribe_1.png") no-repeat;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png") no-repeat;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png") no-repeat;
  background-size: cover;
}

.price-num {
  font-size: 64px;
  vertical-align: middle;
}

.price-currency {
  line-height: 1em;
}

.news-author {
  color: var(--orange);
}
.news-description {
  max-width: 575px;
}
.news-image {
  max-width: 575px;
}
.news-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}
@media (max-width: 415px) {
  .news-title {
    font-size: 16px;
    line-height: 24px;
  }
}

.app-description {
  max-width: 600px;
}
@media (max-width: 415px) {
  .app-description {
    order: 2;
    margin-right: 0;
  }
}

.app-image {
  max-width: 333px;
}
@media (max-width: 415px) {
  .app-image {
    margin-right: auto;
    margin-left: auto;
  }
}

.tracks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(374px, 551px));
  column-gap: 50px;
  row-gap: 25px;
}

.track-image {
  width: 55px;
  height: 55px;
}
.track-names {
  display: flex;
  flex-direction: column;
}
.track-title {
  line-height: 19.2px;
}

.discography-album-title {
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
.discography-image {
  width: 250px;
  height: 250px;
}
@media (max-width: 415px) {
  .discography-image {
    width: 137px;
    height: 137px;
  }
}
.discography-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 50px;
  row-gap: 25px;
}
@media (max-width: 415px) {
  .discography-items {
    grid-template-columns: repeat(auto-fit, 137px);
  }
}
.discography-item {
  position: relative;
}

@media (max-width: 415px) {
  .similar-fans {
    display: block;
  }
}
.similar-title {
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
}
@media (max-width: 415px) {
  .similar-title {
    display: block;
  }
}
.similar-image {
  display: block;
  width: 250px;
  height: 250px;
}
@media (max-width: 415px) {
  .similar-image {
    width: 137px;
    height: 137px;
  }
}
.similar-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 50px;
  row-gap: 25px;
}
@media (max-width: 415px) {
  .similar-items {
    grid-template-columns: repeat(auto-fit, 137px);
  }
}
.similar-item {
  position: relative;
}
.similar-link::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  background-color: var(--black);
}

.footer-line {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
}
.footer-link {
  color: var(--gray);
}
.footer-h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding-bottom: 56px;
  column-gap: 40px;
  row-gap: 14px;
}
@media (max-width: 415px) {
  .footer-top {
    padding-bottom: 74px;
  }
}
.footer-top-icon-grid {
  display: flex;
  gap: 24px;
}
.footer-bottom {
  padding: 40px 0 48px 0;
}
@media (max-width: 415px) {
  .footer-bottom {
    padding-bottom: 30px;
  }
}
@media (max-width: 415px) {
  .footer-nav-list {
    flex-direction: column;
  }
}
.footer-nav-link {
  margin-right: 16px;
  color: var(--gray);
}
@media (max-width: 415px) {
  .footer-nav-link {
    display: block;
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=app.css.map */
