.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;

  text-decoration: none;

  cursor: pointer;

  &-big {
    padding: 20px 30px;
  }

  &-group {
    display: flex;
    gap: 1.5rem;

    @include mobile {
      display: block;
    }
  }

  &-icon {
    display: flex;
    align-items: center;

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &-small {
    padding: 16px 30px;

    font-size: 12px;
  }

  &-w-200 {
    width: 200px;
  }

  &-round {
    padding: 16px 40px;
    border-radius: 32px;

    font-size: 12.8px;
  }

  &-green {
    color: #fff;

    background-color: var(--green);
  }

  &-red {
    color: #fff;

    background-color: var(--red);
  }

  &-purple {
    color: #fff;

    background-color: var(--purple);
  }

  &-transparent {
    border: 1px solid;

    background-color: transparent;

    &-white {
      border-color: #fff;

      color: #fff;
    }

    &-gray {
      border-color: #cacaca;

      color: #cacaca;
    }
  }
}

//.two-buttons:not(:last-child) {
//  margin-right: 1.5rem;
//}
