.flex {
  display: flex;

  &-direction-column {
    flex-direction: column;
  }

  &-reverse {
    flex-direction: row-reverse;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-justify-content-between {
    justify-content: space-between;
  }

  &-justify-content-center {
    justify-content: center;
  }

  &-align-items-center {
    align-items: center;
  }

  &-basis-100 {
    flex-basis: 100%;
  }
}