@import "mixins";

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer {

  &-h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }

  &-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

    column-gap: 40px;
    row-gap: 2px;

    &-icon-grid {
      display: flex;
      gap: 24px;
    }
  }

  &-bottom {
    border-top: 2px solid var(--dark-gray);
  }

  &-nav {
    &-list {
      padding: 0;

      list-style: none;

      @include mobile {
        flex-direction: column;
      }
    }

    &-item {
      &:not(:last-child) {
        margin-right: 16px;

        @include mobile {
          padding-bottom: 16px;
        }
      }
    }
  }
}
