.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  background-color: var(--black);
}

.footer {
  &-line {
    position: absolute;
    left: 0;

    width: 100%;
    border: 1px solid #e0e0e0;

    background-color: #e0e0e0;
  }

  &-link {
    color: var(--gray);
  }

  &-h2 {
    margin: 0;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }

  &-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

    padding-bottom: 40px;

    column-gap: 40px;
    row-gap: 2px;

    @include mobile {
      padding-bottom: 72px;
    }

    &-icon-grid {
      display: flex;
      gap: 24px;
    }
  }

  &-bottom {
    padding: 40px 0 48px 0;

    @include mobile {
      padding-bottom: 30px;
    }
  }

  &-nav {
    &-list {
      @include mobile {
        flex-direction: column;
      }
    }

    &-link {
      margin-right: 16px;

      color: var(--gray);

      @include mobile {
        display: block;
        margin-bottom: 16px;
      }
    }
  }
}
