@import "mixins";

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  background-color: var(--black);
}

.footer {
  &-h2 {
    margin: 0;

    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }

  &-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

    padding-bottom: 40px;

    column-gap: 40px;
    row-gap: 2px;

    @include mobile {
      padding-bottom: 73px;
    }

    &-icon-grid {
      display: flex;
      gap: 24px;
    }
  }

  &-bottom {
    padding-bottom: 48px;
    border-top: 2px solid var(--dark-gray);

    @include mobile {
      padding-bottom: 32px;
    }
  }

  &-nav {
    &-list {
      @include mobile {
        flex-direction: column;
      }
    }

    &-link {
      margin-right: 16px;

      @include mobile {
        display: block;
        margin-bottom: 16px;
      }
    }
  }
}
