@import "mixins";

.header {
  position: absolute;
  top: 25px;
  left: 50%;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  width: 100%;
  max-width: 1200px;

  transform: translateX(-50%);

  &-container {
    display: flex;
    align-items: center;
    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }

  &-logo {
    display: flex;
    align-items: center;

    &-img {
      width: 24px;
      margin-right: 16px;
    }
  }
}

.navbar-link {
  @include uppercase;

  &:not(:last-child) {
    padding-right: 24px;
  }

  color: var(--dark-gray);
  font-size: 10px;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-top {
  display: inline-block;
  width: 248px;
  padding: 5px 10px;
  border: 0;
  border-radius: 50px;

  background-color: var(--dark);
}

@media screen and (max-width: 415px) {
  .navbar,
  .navbar-items {
    flex-direction: column;
    align-items: normal;
  }

  .navbar-items {
    margin-left: 20px;
  }

  .header-logo {
    margin-bottom: 17px;
  }

  .navbar-right {

    margin-top: 18px;
    margin-right: 20px;
  }

  .search-top {
    width: 100%;
  }
}

.logo-text {
  @include uppercase;
  margin-right: 91px;

  color: #fff;
  font-size: 10px;
}
