@each $size, $value in $sizes {
  @include indents('margin', 'm', $size, $value);
  @include indents('padding', 'p', $size, $value);
}

@each $size, $value in $sizes {
  @include mobile {
    @include indents('margin', 'm', $size, $value, 'xs');
  }

  @include mobile {
    @include indents('padding', 'p', $size, $value, 'xs');
  }
}

.m {
  &-0 {
    margin: 0;
  }

  &b {
    &-10px {
      margin-bottom: 10px;
    }

    &-15px {
      margin-bottom: 15px;
    }

    &-18px {
      margin-bottom: 18px;
    }
  }

  &l {
    &-auto {
      margin-left: auto;
    }
  }
}

.p {
  &x {
    &-10px {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
