.m {
  &-0 {
    margin: 0;
  }

  &y {
    &-65 {
      margin-top: 65px;
      margin-bottom: 65px;
    }
  }

  &t {
    &-5 {
      margin-top: 5px;
    }

    &-10 {
      margin-top: 10px;
    }

    &-16 {
      margin-top: 16px;
    }

    &-20 {
      margin-top: 20px;
    }

    &-24 {
      margin-top: 24px;
    }

    &-30 {
      margin-top: 30px;
    }

    &-38 {
      margin-top: 38px;
    }

    &-40 {
      margin-top: 40px;
    }

    &-43 {
      margin-top: 43px;
    }

    &-48 {
      margin-top: 48px;
    }

    &-50 {
      margin-top: 50px;
    }

    &-180 {
      margin-top: 180px;
    }

    &-200 {
      margin-top: 200px;
    }
  }

  &r {
    &-16 {
      margin-right: 16px;
    }

    &-91 {
      margin-right: 91px;
    }

    &-144 {
      margin-right: 144px;
    }
  }

  &b {
    &-0 {
      margin-bottom: 0;
    }

    &-18 {
      margin-bottom: 18px;
    }

    &-28 {
      margin-bottom: 28px;
    }

    &-65 {
      margin-bottom: 65px;
    }

    &-100 {
      margin-bottom: 100px;
    }

    &-1_5rem {
      margin-bottom: 1.5rem;
    }
  }

  &l {
    &-auto {
      margin-left: auto;
    }
  }
}
