.m {
  &b {
    &-15 {
      margin-bottom: 15px;
    }

    &-18 {
      margin-bottom: 18px;
    }

    &-28 {
      margin-bottom: 28px;
    }

    &-30 {
      margin-bottom: 30px;
    }

    &-65 {
      margin-bottom: 65px;
    }

    &-100 {
      margin-bottom: 100px;
    }

    &-1_5rem {
      margin-bottom: 1.5rem;
    }
  }

  &l {
    &-auto {
      margin-left: auto;
    }
  }
}
