@import "mixins";

.nav {
  &-list {
    @include mobile {
      flex-direction: column;
    }
  }

  &-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &-link {
    color: var(--dark-gray);
    text-decoration: none;

    &:not(:last-child) {
      padding-right: 24px;
    }
  }
}
