.p {
  &r {
    &-16 {
      padding-right: 16px;
    }
  }

  &b {
    &-25 {
      padding-bottom: 25px;
    }

    &-30 {
      padding-bottom: 30px;
    }

    &-48 {
      padding-bottom: 48px;
    }

    &-55 {
      padding-bottom: 55px;
    }

    &-73 {
      padding-bottom: 73px;
    }

    &-100 {
      padding-bottom: 100px;
    }
  }

  &l {
    &-20 {
      padding-left: 20px;
    }
  }
}
