.p {
  &y {
    &-64 {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    &-200 {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &-2rem {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    &-3rem {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &t {
    &-3rem {
      padding-top: 3rem;
    }

    &-20 {
      padding-top: 20px;
    }

    &-24 {
      padding-top: 24px;
    }

    &-63 {
      padding-top: 63px;
    }

    &-100 {
      padding-top: 100px;
    }
  }

  &r {
    &-16 {
      padding-right: 16px;
    }
  }

  &b {
    &-25 {
      padding-bottom: 25px;
    }

    &-30 {
      padding-bottom: 30px;
    }

    &-48 {
      padding-bottom: 48px;
    }

    &-55 {
      padding-bottom: 55px;
    }

    &-73 {
      padding-bottom: 73px;
    }

    &-100 {
      padding-bottom: 100px;
    }
  }

  &l {
    &-20 {
      padding-left: 20px;
    }
  }
}
