.p {
  &x {
    &-0 {
      padding-right: 0;
      padding-left: 0;
    }

    &-10 {
      padding-right: 10px;
      padding-left: 10px;
    }

    &-1_5rem {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  &y {
    &-0 {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-5 {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &-64 {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    &-200 {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    &-2rem {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    &-3rem {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &t {
    &-3rem {
      padding-top: 3rem;
    }

    &-20 {
      padding-top: 20px;
    }

    &-24 {
      padding-top: 24px;
    }

    &-100 {
      padding-top: 100px;
    }
  }

  &r {
    &-16 {
      padding-right: 16px;
    }
  }

  &b {
    &-25 {
      padding-bottom: 25px;
    }

    &-55 {
      padding-bottom: 55px;
    }

    &-100 {
      padding-bottom: 100px;
    }
  }

  &l {
    &-20 {
      padding-left: 20px;
    }
  }
}
