@import "mixins";

.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.h1-hero {
  @include mobile {
    margin-top: 78px;
  }
}

.get-access-form {
  @include mobile {
    margin: 0 20px;
  }
}

.container-form {
  max-width: 570px;
}

.get-access-fields {
  width: 100%;
}

.get-access-field {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;

  margin-bottom: 1.5rem;

  border: 2px solid #cacaca;
  border-radius: 3px;

  background-color: transparent;

  @include mobile {
    width: 100%;
  }

  &::placeholder {
    color: #fff;

    font-weight: 700;
    font-size: 14px;
  }
}

.hero-lead {
  @include mobile {
    margin: 16px 20px;
  }
}
