@import "mixins";

.page-news {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: var(--black);
}

.news {
  &-author {
    color: var(--orange);
  }

  &-description {
    max-width: 575px;

    @media (max-width: (415px)) {
      margin-top: 40px;
    }
  }

  &-image {
    max-width: 575px;
  }

  &-text {
    @media (max-width: (415px)) {
      margin-top: 15px;
    }
  }

  &-title {
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;

    @media (max-width: (415px)) {
      margin-top: 10px;

      font-size: 16px;

      line-height: 24px;
    }
  }
}
