.page-pricing {
  padding-top: 100px;

  text-align: center;
}

.pricing-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, 368px);
  justify-content: center;

  column-gap: 47px;
}

.pricing-item {
  box-sizing: border-box;
  margin-top: 50px;
  padding: 0 1.5rem;
  border-radius: 1rem;
}

.pricing-item h3 {
  padding-top: 24px;

  font-weight: 400;
  text-transform: uppercase;
}

.bg-free {
  background: url("../images/subscribe_1.png") no-repeat;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png") no-repeat;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png") no-repeat;
  background-size: cover;
}

.pricing-value {
  margin-top: 200px;
}

.price-num {
  margin-right: 16px;

  font-size: 64px;
  vertical-align: middle;
}

.price-currency {
  line-height: 1em;
}

.pricing-footer {
  padding-top: 64px;
  padding-bottom: 64px;
}

.explanation {
  margin-top: 43px;

  color: #fff;
}

@media screen and (max-width: 415px) {
  .page-pricing {
    padding-right: 20px;
    padding-left: 20px;
  }

  .pricing-items {
    grid-template-columns: repeat(auto-fit, 374px);
  }
}
