.news {
  &-author {
    color: var(--orange);
  }

  &-description {
    max-width: 575px;
  }

  &-image {
    max-width: 575px;
  }

  &-title {
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-transform: capitalize;

    @include mobile {
      font-size: 16px;

      line-height: 24px;
    }
  }
}
