@import "mixins";

.page-description {
  background-color: var(--black);

  background-position: center;
  background-size: cover;

  &-home {
    background-image: url("../images/banner.png");
  }

  &-morten_harket {
    background-image: url("../images/Morten Harket.png");
  }
}

.hero {
  &-container {
    margin-top: 50px;

    @include mobile {
      margin-top: 25px;
    }

    &-home {
      @include mobile {
        margin-top: 50px;
      }
    }
  }

  &-h1 {
    @include mobile {
      margin-top: 25px;
    }
  }

  &-lead {

    @include mobile {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}

.container-form {
  max-width: 570px;
}

.get-access-form {
  max-width: 570px;
  margin: 0 auto;
}

.get-access-fields {
  width: 100%;
}

.get-access-field {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;

  border: 2px solid #cacaca;
  border-radius: 3px;

  background-color: transparent;

  @include mobile {
    width: 100%;
  }

  &::placeholder {
    color: #fff;

    font-weight: 700;
    font-size: 14px;
  }
}
