@import "mixins";

.page-app {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: var(--black);
}

.app-description {
  max-width: 600px;

  @media (max-width: (415px)) {
    order: 2;
    margin-right: 0;
  }
}

.app-image {
  max-width: 333px;

  @media (max-width: (415px)) {
    margin-right: auto;
    margin-left: auto;
  }
}