@import "mixins";

.page-discography {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: var(--black);
}

.discography {
  &-album-title {
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
  }

  &-image {
    width: 250px;
    height: 250px;

    @media (max-width: (415px)) {
      width: 137px;
      height: 137px;
    }
  }

  &-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);

    column-gap: 50px;
    row-gap: 25px;

    @media (max-width: (415px)) {
      grid-template-columns: repeat(auto-fit, 137px);
    }
  }

  &-item {
    position: relative;
  }
}
