.page-pricing {
  padding-right: 20px;
  padding-left: 20px;

  background-color: var(--black);
}

.pricing {
  &-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 368px);
    justify-content: center;

    box-sizing: border-box;

    column-gap: 47px;

    @include mobile {
      grid-template-columns: repeat(auto-fit, 374px);
    }
  }

  &-item {
    box-sizing: border-box;
    border-radius: 1rem;

    &-h3 {
      font-weight: 400;

      @include mobile {
        margin-top: 15px;

        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

.bg-free {
  background: url("../images/subscribe_1.png") no-repeat;
  background-size: cover;
}

.bg-standart {
  background: url("../images/subscribe_2.png") no-repeat;
  background-size: cover;
}

.bg-premium {
  background: url("../images/subscribe_3.png") no-repeat;
  background-size: cover;
}

.price-num {
  font-size: 64px;
  vertical-align: middle;
}

.price-currency {
  line-height: 1em;
}
