@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-weight: 600;
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
}
