:root {
  --black: #08020d;
  --gray: #e0e0e0;
  --dark-gray: #cacaca;
  --dark: #3c3b3d;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --red: #95390c;
  --white: #fff;
}

$breakepoint: 415px;
$rem-base: 16px;

@function rem($value) {
  $result: ($value / $rem-base) * 1rem;

  @return #{$result};
}

$sizes: (
  '0': 0,
  '1': rem($rem-base),
  '2': rem($rem-base * 1.5),
  '3': rem($rem-base * 2),
  '4': rem($rem-base * 2.5),
  '5': rem($rem-base * 3),
  '6': rem($rem-base * 3.5),
  '7': rem($rem-base * 4),
  '8': rem($rem-base * 4.5),
  '9': rem($rem-base * 5),
  '10': rem($rem-base * 5.5),
  '11': rem($rem-base * 6),
  '12': rem($rem-base * 6.5),
  '13': rem($rem-base * 7),
  '14': rem($rem-base * 7.5),
  '15': rem($rem-base * 8),
  '16': rem($rem-base * 8.5),
  '17': rem($rem-base * 9),
  '18': rem($rem-base * 9.5),
  '19': rem($rem-base * 10),
  '20': rem($rem-base * 10.5),
  '21': rem($rem-base * 11),
  '22': rem($rem-base * 11.5),
  '23': rem($rem-base * 12),
  '25': rem($rem-base * 12.5),
  'auto': auto,
);
